/* animations.css */

/* https://motion.dev/ */

:root {
    --ease-cb-800: all 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
    /* stolen from gsap */
    --ease-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-out: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-in-out: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
    --ease-out-quart: cubic-bezier(0.175, 0.79, 0.38, 0.905);
    --ease-in-out-quart: cubic-bezier(0.645, 0.045, 0.355, 1);
    /*  */
    --transition-eioq: all 1s var(--ease-in-out-quart);

    /* transition easing */
    --ease-out: cubic-bezier(0.28,0.44,0.49,1);
    --bounce: cubic-bezier(0.6,0,0.1,1.4);
    --ease-out-soft: cubic-bezier(0.28,0,0.49,1);
    /* var(--ease-out-soft) */
    --ease-in-out-soft: cubic-bezier(0.72,0,0.28,1);
    --ease-in-out-hard: cubic-bezier(0.77,0,0.175,1);

    --when-in-doubt-ease-in-out: all 0.5s cubic-bezier(0.8, 0, 0.2, 1);
    
    /* Transitions */

    --theme-transition: 0.5s var(--ease-in-out-quart);
    --transition: all 0.3s linear;
    --transition-fast: all 0.125s ease;
    --transition-fast-delay: all 0.125s ease 0.1s;

    --transition-ease: cubic-bezier(.85, .09, .15, .91);
    --transition-duration: 0.7s;
    /* --theme-transition: all var(--transition-duration) var(--transition-ease); */
    
    /* transition easing */
    --ease-out: cubic-bezier(0.28,0.44,0.49,1);
    --bounce: cubic-bezier(0.6,0,0.1,1.4);
    --ease-out-soft: cubic-bezier(0.28,0,0.49,1);
    /* var(--ease-out-soft) */
    --ease-in-out-soft: cubic-bezier(0.72,0,0.28,1);
    --ease-in-out-hard: cubic-bezier(0.77,0,0.175,1);

}
  
:root {

  --time-transition-100: 0.1s;
  --time-transition-125: 0.13s;
  --time-transition-150: 0.15s;
  --time-transition-200: 0.2s;
  --time-transition-250: 0.25s;
  --time-transition-350: 0.35s;
  --time-transition-500: 0.5s;
  --time-transition-550: 0.55s;
  --time-transition-650: 0.65s;
  --time-transition-750: 0.75s;
  --time-transition-1000: 1s;
  --time-transition-none: 0s;
  --time-delay-25: 0.03s;
  --time-delay-100: 0.1s;
  --time-delay-200: 0.2s;
  --time-delay-250: 0.25s;
  --time-delay-350: 0.35s;
  --time-delay-375: 0.38s;
  --time-delay-500: 0.5s;
  --time-delay-600: 0.6s;
  --time-delay-750: 0.75s;
  --time-delay-1000: 1s;
  --time-delay-initial: 0.5s;
  --time-delay-none: 0s;

}


  nav {
    transition: background-color 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }
  
  nav.active {
    /* background-color: var(--dark); */
  }
  
  .activated {
    transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }
  
  .rise {
    opacity: 0;
    animation: rise 0.8s ease-in-out forwards;
  }
  
  .rise.subheading {
    animation: rise 1.2s ease-in-out forwards 0.5s;
  }
  
  @keyframes rise {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* start states */
  .fade-in,
  .fade-up {
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }
  .fade-in.appear {
    opacity: 1;
  }
  
  /*  */
  /* specific direction */
  
  [class*='slide-in'] {
    opacity: 0;
    transition: transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87),
      opacity 0.8s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }
  [class*='slide-in'].appear {
    opacity: 1;
  }
  .slide-in-from-top,
  .slide-down {
    /* grid-column: 2 / 3; */
    transform: translateY(50%);
  }
  .slide-in-from-bottom,
  .slide-up {
    /* grid-column: 2 / 3; */
    transform: translateY(50%);
    transition: all 1s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }
  .slide-in-from-left {
    /* grid-column: 2 / 3; */
    transform: translateX(-50%);
  }
  
  .slide-in-from-right {
    /* grid-column: 3 / 4; */
    transform: translateX(50%);
  }
  
  .slide-in-from-left,
  .slide-in-from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
  }
  
  .slide-in-from-top.appear,
  .slide-in-from-right.appear,
  .slide-in-from-bottom.appear,
  .slide-in-from-left.appear {
    opacity: 1;
  }
  .slide-in-from-top.appear,
  .slide-down.appear {
    transform: translateX(-50%);
  }
  .slide-in-from-right.appear {
    transform: translateX(0);
  }
  .slide-in-from-bottom.appear,
  .slide-up.appear {
    transform: translateY(0);
  }
  .slide-in-from-left.appear {
    transform: translateY(0);
  }
  
  .fade-up {
    /* opacity: 0; */
    transform: translate3d(0, 5rem, 0);
  }
  /* once triggered */
  .fade-up.appear {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  .delay-200 {
    transition-delay: 200ms;
  }
  .delay-400 {
    transition-delay: 400ms;
  }
  .delay-600 {
    transition-delay: 600ms;
  }
  
  /*  */

.ease-in-out {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.ease-in {
  transition-timing-function: cubic-bezier(.4,0,1,1);
}