*, :after, :before {
    box-sizing: inherit;
    -webkit-backface-visibility: inherit;
    backface-visibility: inherit;
}

/* btn */


.btn, .button, 
input[type="submit"],
 input[type="button"] {
    /* position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    border-radius: var(--radius-xsm);
    outline: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:focus,
    :hover {
        color: #fff;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    } */
}


  
  /* submit button */
  /* ------------------------------------ */
  
button,
.btn, .button, 
input[type="submit"],
input[type="button"] {
    position: relative;
    display: flex;
    place-content: center;
    text-align: center;
    padding: 0.56em 2em;
    gap: 0.8em;
    color: white;
    text-decoration: none;
    line-height: 1.1;
    border-radius: 999rem;
    overflow: hidden;
    background: var(--primary);
    /* background-image: var(--gradient-accent); */
    box-shadow: var(--shadow-md);
    white-space: nowrap;
    border: none;
    max-width: fit-content;
    font-family: var(--font-body);
    font-size: var(--font-base);
    transition: all var(--theme-transition);
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background: var(--gradient-accent);
        padding: 0;
        margin: 0;
        /* transition: all var(--theme-transition); */
        transition: all 0.4s;
        opacity: 0;
    }
    &:hover {
        /* transition: all 0.5; */
        /* background-image: var(--gradient-accent-active); */
        /* background-size: 150%; */
        background: none;
    }
    &:hover::before {
        /* z-index: 0; */
        opacity: 1;
    }
}
  

.primary {
    color: #fff;
    background-color: rgb(var(--accent));
    border-color: rgb(var(--accent));
    &:focus,
    .primary:hover {
        color: #fff;
        background-color: #5500e6;
        border-color: #5500e6;
        /* background-size: 200%; */
    }
}

.ghost {
    color: #1890ff;
    background-color: transparent;
    border-color: #1890ff;
    &:focus,
    :hover {
        color: #40a9ff;
        background-color: #fff;
        border-color: #40a9ff;
    }
}

.dashed {
    color: #1890ff;
    background-color: transparent;
    border-style: dashed;
    border-color: #1890ff;
    &:focus,
    :hover {
        color: #40a9ff;
        background-color: #fff;
        border-color: #40a9ff;
    }
}

.link {
    /* color: #1890ff; */
    background-color: transparent;
    border-color: transparent;
    &:focus,
    :hover {
        /* color: #40a9ff; */
        background-color: transparent;
        border-color: transparent;
    }
}

.circle {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
}

.round {
    border-radius: 16px;
}

.block {
    display: block;
    width: 100%;
}
  

/* based on mc cta */

@keyframes fakebounce {
    0% {
        left: calc(100% - 2rem);
    }
    50% {
        left: -1.5rem;
    }
    75% {
        left: -.5rem;
    }
    88% {
        left: -1.125rem;
    }
    100% {
        left: -1rem;
    }
}