*, :after, :before {
    box-sizing: inherit;
    -webkit-backface-visibility: inherit;
    backface-visibility: inherit;
}

.button-pill_container {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    padding: .2rem 3rem 0;
    border: .1rem solid;
    border-radius: 1.6rem;
    color: currentcolor;
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: -.02em;
    line-height: 2.8rem;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateZ(0);
    transition: border-color var(--bd-time-transition-650) var(--ease-out), color var(--bd-time-transition-250) var(--ease-out);
    white-space: nowrap;
}

.button-pill_container:not(:disabled):focus-visible, 
.button-pill_container:not(:disabled):hover {
    color: var(--background-color);
    outline: 0;
}

.button-pill_container:before {
    position: absolute;
    z-index: var(--bd-layout-z-index-z-neg-1);
    bottom: -.1rem;
    left: 0;
    width: 100%;
    height: calc(100% + .2rem);
    background-color: var(--text-color);
    color: var(--background-color);
    content: "";
    transform: translate3d(0, 100%, 0);
    transition: transform var(--bd-time-transition-250) var(--ease-out);
}

/* btn */


.btn {
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    /* height: 32px; */
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    border-radius: var(--radius-xsm);
    outline: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn:focus,
.btn:hover {
    color: #fff;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.primary {
    color: #fff;
    background-color: rgb(var(--accent));
    border-color: rgb(var(--accent));
}

.primary:focus,
.primary:hover {
    color: #fff;
    background-color: #5500e6;
    border-color: #5500e6;
    /* background-size: 200%; */
}

.ghost {
    color: #1890ff;
    background-color: transparent;
    border-color: #1890ff;
}

.ghost:focus,
.ghost:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}

.dashed {
    color: #1890ff;
    background-color: transparent;
    border-style: dashed;
    border-color: #1890ff;
}

.dashed:focus,
.dashed:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}

.link {
    /* color: #1890ff; */
    background-color: transparent;
    border-color: transparent;
}

.link:focus,
.link:hover {
    /* color: #40a9ff; */
    background-color: transparent;
    border-color: transparent;
}

.circle {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
}

.round {
    border-radius: 16px;
}

.block {
    display: block;
    width: 100%;
}
  

/* based on mc cta */

.ctaArrow, .supportLink {
    --shift-distance: 0.25rem;
    display: inline-block;
    font-weight: 400;
    font-size: var(--copy-regular-size);
    line-height: 2rem;
    color: var(--link-color);
    text-decoration: none;
    position: relative;
    padding-right: 2.5rem;
    -webkit-transform: translatex(0);
    -ms-transform: translatex(0);
    transform: translatex(0);
    z-index: 1;
    -webkit-transition: color .15s ease-in-out, -webkit-transform .3s ease;
    transition: color .15s ease-in-out, -webkit-transform .3s ease;
    -o-transition: color .15s ease-in-out, transform .3s ease;
    transition: color .15s ease-in-out, transform .3s ease;
    transition: color .15s ease-in-out, transform .3s ease, -webkit-transform .3s ease;
    border-radius: 2em;
}

.ctaArrow:before, .supportLink:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: calc(100% - 2rem);
    border-radius: 1rem;
    height: 2rem;
    z-index: -1;
    /* background-image: url(/release/plums/9cf30b6….svg); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18' fill='none'%3E%3Cpath d='M14.9 10.2H1V8.2H14.9L9.3 2.4L10.8 1L18.4 9.2L10.8 17.4L9.3 16L14.9 10.2Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: calc(100% - .4375rem);
    background-position-y: calc(100% - .4375rem);
    background-size: 1.125rem;
    background-color: #ffe01b;
    -webkit-transition: left .3s cubic-bezier(.34,1.2,.64,1), right .3s ease, background-position .3s ease;
    -o-transition: left .3s cubic-bezier(.34, 1.2, .64, 1), right .3s ease, background-position .3s ease;
    transition: left .3s cubic-bezier(.34,1.2,.64,1), right .3s ease, background-position .3s ease;
}

/* 

<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
<path d="M14.9 10.2H1V8.2H14.9L9.3 2.4L10.8 1L18.4 9.2L10.8 17.4L9.3 16L14.9 10.2Z" fill="black"/>
</svg>

*/

.ctaArrow:focus-visible:before, .ctaArrow:hover, .supportLink:focus-visible:before, .supportLink:hover {
    color: var(--link-color-hovered);
    -webkit-transform: translatex(var(--shift-distance));
    -ms-transform: translatex(var(--shift-distance));
    transform: translatex(var(--shift-distance));
}

.ctaArrow:focus-visible:before, .ctaArrow:hover:before, .supportLink:focus-visible:before, .supportLink:hover:before {
    height: 100%;
    left: -1rem;
    background-position-x: calc(100% - 3.5* var(--shift-distance));
    -webkit-transition: right .3s ease, background-position .3s ease;
    -o-transition: right .3s ease, background-position .3s ease;
    transition: right .3s ease, background-position .3s ease;
    -webkit-animation: fakebounce .3s ease-in-out;
    animation: fakebounce .3s ease-in-out;
}

.ctaArrow:active:before, .ctaArrow:focus-visible:before, .supportLink:active:before, .supportLink:focus-visible:before {
    right: 0;
    background-position-x: calc(100% - .4375rem);
}

@keyframes fakebounce {
    0% {
        left: calc(100% - 2rem);
    }
    50% {
        left: -1.5rem;
    }
    75% {
        left: -.5rem;
    }
    88% {
        left: -1.125rem;
    }
    100% {
        left: -1rem;
    }
}