/* --------------------------------------- */
/* carousel */


:root {
  --carousel-height: 80vh;
}
@media screen and (max-width: 880px) {
    :root {
    --carousel-height: 30vh;
    }
}

.carousel_container {
  /* position: relative;
  left: calc(var(--grid-padding)* -1);
  width: calc(100% + var(--grid-padding)* 2); */
  cursor: none;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}


.carousel_container {
  position: relative;
  left: calc(var(--bodypadding)* -1);
  width: calc(100vw - (var(--bodypadding)* 1));
  overflow: hidden;
  /* cursor: none; */
  margin: calc(var(--bodypadding));
  margin-top: calc(var(--bodypadding) / 2) ;
  /* margin-bottom: var(--bodypadding) ; */
  box-sizing: content-box;
}

.carousel_stage {
  display: flex;
  gap: var(--col-gap);
  position: relative;
    /* width: 100%; */
    width: max-content;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    white-space: nowrap;
    transform: scale(1);
    /* transform: scale(0.98); */
    transition: var(--transition);
    will-change: transform;
    user-select: none;
    /* cursor: pointer; */
    /* cursor: grab; */
}
.carousel_container, .carousel_stage {
  scroll-behavior: smooth;
  height: var(--carousel-height)
}

.carousel_stage .image_wrap {
  /* flex: 0 0 var(--max-col-width); */
  flex: 0 0 100%
}

/*add a margin right to all but the last slide */
.carousel_stage .image_wrap:not(:last-child) {
  margin-right: var(--col-gap);
}

.carousel_stage.grabbed {
  background: rgba(255,255,255,0.3);
  /* cursor: grabbing;
  cursor: -webkit-grabbing; */
  /* transform: scale(1); */
  transform: scale(0.98);
}


/* --------------------------------------- */
/* carousel images */



.carousel_container .image_wrap,
.carousel_stage .image_wrap {
    height: var(--carousel-height);
    height: auto;
    object-fit: cover;
    width: auto;
    max-width: max-content;
    /* max-width: 100%; */
    /* max-width: var(--max-col-width); */
    aspect-ratio: unset;
}

@media screen and (max-width: 880px) {
  .carousel_container .image_wrap,
  .carousel_stage .image_wrap {
    /* height: calc(var(--carousel-height)*2/3); */
        max-height: fit-content;
  }
}

.carousel_container .image_wrap[data-type="last"],
.carousel_stage .image_wrap[data-type="last"] {
  margin-right: var(--bodypadding);
}

.carousel_container .image_wrap picture,
.carousel_stage .image_wrap picture {
  display: flex;
  width: auto;
}
.carousel_container .image_wrap picture img,
.carousel_container .image_wrap img,
.carousel_stage .image_wrap picture img,
.carousel_stage .image_wrap img {
    width: auto;
    max-width: max-content;
    height: var(--carousel-height);
}

@media screen and (max-width: 880px) {
  .carousel_container .image_wrap picture img,
  .carousel_stage .image_wrap img{
    /* height: calc(var(--carousel-height)*2/3); */
    /* height: auto; */
  }
  
}

/* Prevent dragging and user selection on images */
/* .carousel_container, */
.carousel_stage > *,
.carousel_stage .image_wrap img {
  -webkit-user-drag: none; /* For Safari */
  -khtml-user-drag: none; /* For Konqueror */
  -moz-user-drag: none; /* For Firefox */
  -o-user-drag: none; /* For Opera */
  user-drag: none; /* Standard */
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.carousel_stage .image_wrap {
    -webkit-user-drag: none; /* For Safari */
    -khtml-user-drag: none; /* For Konqueror */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
    user-drag: none; /* Standard */
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* --------------------------------------- */
/* carousel navigation */

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  transition: background-color 0.3s;
  width: 50px;
  height: 50px;
}

.carousel-button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* carousel indicators */
.carousel-indicators {
  display: flex;
  justify-content: center;
  /* margin-top: 1rem; */
  gap: 0.5rem;
  position: absolute;
  z-index: 11111;
  /* width: 100px; */
  height: 1rem;
  bottom: 1rem;
  padding: 2rem;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-indicator.active {
  background-color: #333;
}


/* --------------------------------------- */
/* additional carousel styling */

.grabbing {
  /* cursor: grabbing; */
  transition: none;
}


/* --------------------------------------- */
/* carousel cursor */

.cursor {
  width: 7rem;
  height: 7rem;
  /* background: #fff; */
  background: rgba(0, 0, 0, 0.125);
  backdrop-filter: blur(5px);
  /* border: 0.5px solid #fff; */
  border-radius: 50%;
  position: absolute;
  color: #fff;
  z-index: 111;
  top: 0;
  left: 0;
  transform:  scale(0);
  /* transform: scale(0); */
  transform-origin: center center;
  /* transition: var(--transition-fast-delay); */
  transition: all 0.2s ease; /* Add transition for smooth movement */
  /* opacity: 0; */
  mix-blend-mode: difference;
  pointer-events: none; /* Allow mouse events to pass through the cursor */
  filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.5));
}

.cursor.cursor-on {
  opacity: 1;
  /* transform: scale(1); */
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.cursor::after {
  position:absolute;
  color:white;
  content: "GRAB";
  font-size:10px;
  line-height: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  transition: var(--transition-fast-delay);
}
.cursor.cursor-on::after,
.cursor-over .cursor::after  {
  /* content: "DRAG"; */
}

.cursor.cursor-grabbing {
  /* transform: translateX(-50%) translateY(-50%) scale(1); */
  opacity: 1;
}

.cursor.cursor-grabbing.cursor-on,
.cursor.cursor-grabbing.cursor-over {
  /* transform: translateX(-50%) translateY(-50%) scale(0.9); */
  transform: scale(0.9);
  opacity: 1;
}

.cursor.grabbing {
  opacity: 1; 
  transform-origin: center center;
  /* Hide the cursor completely when carousel is active */
  transform: translateX(-50%) translateY(-50%) scale(0.9);
  mix-blend-mode: normal;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.25));
}
.cursor.grabbing::after {
  content: "DRAG";
}
.cursor::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="88" height="89" fill="none"><path fill="rgb(0, 0, 0, 0.5)" d="M3.242 50.464.206 45.232 3.23 40h2.388L2.51 45.232l3.108 5.232H3.242ZM82.206 50.464l3.108-5.232L82.206 40h2.388l3.024 5.232-3.036 5.232h-2.376Z"/></svg>'); 
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.9);
  transition: var(--transition-fast-delay);
  opacity: 0;
  /* mix-blend-mode: difference; */
}
.cursor.grabbing::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
    mix-blend-mode: difference;

}
