/* colours */

:root{

    /* old purples

    --primary: #9747FF;
    --primary-1: #8533ff;
    --primary-2: #9675f7;


    --brand-green: #50E3C2;
    --brand-green-rgb: 80, 227, 194;
    --brand-purple: #9747FF;
    --brand-purple-rgb: 151, 71, 255;
    --brand-purple-hsl: hsl(266, 100%, 64%);
    --accent-purple: #7C3AED;
    --accent-rgb: 124, 58, 237;
    --accent-purple-hsl: hsl(262, 83%, 58%);    
    --accent-warm-purple: #da62c4;
    --accent-warm-purple-hsl: hsl(311, 62%, 62%);
    --accent-warm-purple-light: hsl(277, 89%, 71%); */

    --black: #111111;
    --black-rgb: 17, 17, 17;
    --black-hsl: 0, 0%, 7%;
    
    --mono-1: #1f1f1f;
    --mono-2: #2D3748;
    --mono-3: #4A5568;
    --mono-4: #718096;
    --mono-5: rgb(145, 145, 145);/* #919191 */
    --mono-rgb: 145,145,145;
    --mono-hsl: 0, 0%, 57%;

    --mono-light-3: #EDF2F7;
    --mono-light-2: #F7FAFC;
    --mono-light-1: #FFFFFF;

    --white: #f1f1f1;

    /* gray */
    --gray-0: #090909;
    --gray-50: #141414;
    
    --gray-100: #282828;
    --gray-200: #3d3d3d;
    --gray-300: #505050;
    --gray-400: #646464;
    --gray-500: #848484;
    --gray-600: #a3a3a3;
    --gray-700: #c3c3c3;
    --gray-800: #e3e3e3;
    --gray-900: #f3f3f3;
    --gray-999-basis: 0, 0%, 100%;
    --gray-999_40: hsla(var(--gray-999-basis), 0.4);
    --gray-999: #ffffff;

    /* new  */
    --primary: #0d0dff;
    --primary-1: #1800f0;
    --primary-2: #0044ff;

    --brand: #0d0dff;
    --brand-rgb: 13, 13, 255;
    --brand-hsl: 240, 100%, 53%;
    --brand-light: #0729FF;
    --brand-light-hsl: 221, 100%, 60%;
    --brand-dark: #1604b8;
    --brand-dark-hsl: 246, 98%, 42%;


    /* Blues */
    /* 
    --blue-0:#191952;
    --blue-1:#15158e;
    --blue-2:#0d0dff;
    --blue-3:#3f3ffd;
    --blue-4:#6768fe;
    --blue-5:#8f91fe;
    --blue-6:#b7baff;
    --blue-7:#dee3ff;
     */

    --blue-00: #101010;
    --blue-01: #140880;
    --blue-02: #1604b8;
    --blue-03: #1702d4;
    --blue-04: #1800f0;
    --blue-05: #0d0dff;
    --blue-06: #0729ff;
    --blue-07: #0044ff;
    --blue-08: #1c58ff;
    --blue-09: #386cff;
    --blue-10: #5480ff;
    --blue-11: #6f94ff;
    --blue-12: #a7bcff;
    --blue-13: #c3d0ff;
    --blue-14: #dee3ff;
    
    /* 0d0dff-0729ff-0044ff-1c58ff-386cff-5480ff-6f94ff-a7bcff-c3d0ff-dee3ff */
    /* old */
/*     
    --accent: 124, 58, 237;
    --accent-light: #c561f6;
    --accent-regular: #5712ce;
    --accent-dark: #7610fb;
    --accent-overlay: hsla(262, 89%, 67%, 0.73);
    --accent-subtle-overlay: var(--accent-overlay);
    --accent-text-over: var(--accent-dark); */

    /* new */
    --accent: var(--brand);
    --accent-light: var(--brand-light);
    --accent-regular: var(--brand);
    --accent-dark: var(--brand-dark);
    --accent-overlay: var(--brand-dark);
    --accent-subtle-overlay: var(--accent-overlay);
    --accent-text-over: var(--accent-dark);

    --light-rgb: 245, 245, 245;
    --dark-rgb: 9, 11, 17;

    --link-color: var(--accent-regular);

    /*  */
    --gradient: linear-gradient(
        81.62deg, 
        var(--accent-light) -21.44%, 
        var(--accent-regular) 50.54%, 
        var(--accent-dark) 122.9%
    );


    /* Gradients */
    --gradient-stop-1: var(--accent-light);
    --gradient-stop-2: var(--accent-regular);
    --gradient-stop-3: var(--accent-dark);
    --gradient-subtle: linear-gradient(
        150deg,
        var(--gray-900) 19%,
        var(--gray-999) 150%
    );
    --gradient-accent: linear-gradient(
        150deg,
        var(--gradient-stop-1),
        var(--gradient-stop-2),
        var(--gradient-stop-3)
    );
    --gradient-accent-active: linear-gradient(
        270deg,
        var(--gradient-stop-1),
        var(--gradient-stop-2),
        var(--gradient-stop-3)
    );
    
    /* --grad-angle: 45deg; */
    /* text grad */
    /* --accent: 13, 13, 255; */
/*     
    --accent-gradient: linear-gradient(
        var(--grad-angle),
        var(--accent-dark),
        var(--accent-regular) 30%, 
        var(--accent-light) 100%
    );
 */

    --dark-gradient: linear-gradient(
        var(--grad-angle),
        var(--black),
        var(--accent-dark) 100%
    );

    --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));
    --radial-gradient: radial-gradient(circle at 97.9% 5.17%, rgb(16, 207, 201) 0%, rgb(1, 67, 112) 100%);

    

}



.grey_800_bg {
    background-color: var(--gray-800);
}
.grey_900_bg {
    background-color: var(--gray-900);
}

.gradient-rollover {
    --rollover-angle: 45deg;
    display: block;
    width: min(100%, 73.125rem);
    height: auto;
    cursor: pointer;
    /* background-image:
        var(--accent-gradient),
        linear-gradient(
            var(--rollover-angle),
            var(--accent-purple) 0%,
            var(--accent-warm-purple) 48%,
            white 100%
        );
    background-size: 180% 180%, 160% 160%;
    background-position:
        var(--rollover-x) var(--rollover-y),
        calc(100% - var(--rollover-x)) calc(100% - var(--rollover-y)); */
    transition:
        transform 180ms var(--ease-out-soft),
        filter 180ms var(--ease-out-soft),
        opacity 180ms var(--ease-out-soft);
    /* filter:
        drop-shadow(0 0 0 rgba(var(--accent-rgb), 0))
        drop-shadow(0 0 0 rgba(var(--brand-purple-rgb), 0)); */
}

.gradient-rollover path {
    transition: opacity 180ms var(--ease-out-soft);
}

/* /////////////////////// */

/* limes */

/* mocha */
:root {
    --mc-accent-lime: 90 100% 71%;
    --mc-accent-lime-50: 90 85% 55%;
    --mc-base-off-white: 48 45% 96%;
    --mc-base-pure-white: 0 0% 100%;
    --mc-base-cream: 42 42% 83%;
    --mc-base-dark-cream: 40 3% 55%;
    --mc-base-light-cream: 42 41% 92%;
    --mc-base-medium-cream: 41 48% 86%;
    --mc-accent-pure-black: 0 0% 0%;
    --mc-accent-pure-black-50: 48 9% 21%;
    /* eg: 
        color: hsl(var(--mc-accent-lime)); 
    */
    
}

.font-gosh {
    font-family: Gosh, ui-sans-serif, system-ui, sans-serif;
}
.font-instrument {
    font-family: Instrument Sans, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.mocha-theme {
    --background: var(--mc-base-off-white);
    --primary: var(--mc-accent-pure-black);
    --muted-active: var(--mc-base-cream);
    --muted-foreground: var(--mc-base-dark-cream);
}
/* 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
*/

/* 
// <weight>: Use a value from 200 to 800
// <uniquifier>: Use a unique and descriptive class name 
*/

/* .bricolage-grotesque-<uniquifier> */

.bricolage-grotesque-800 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
