/* forms.css */

/* form */

.form_wrapper {
    display: flex;
    gap: 2rem;
    margin: auto;
    max-width: 360px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    position: relative;
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin: 8px 0 12px;
  }
  
   label:last-of-type {
    margin-bottom: 2rem;
  }
  
   label {
    font-size: 0.8rem;
    color: var(--light-grey);
    margin-bottom: 5px;
  }

  
  
  /* SELECT */
  /* ------------------------------------ */

  .form_group {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin: 8px 0 12px;
  }

  .form_group label {
    margin-bottom: 0.25rem;
  }

  select {
    /* A reset of styles, including removing the default dropdown arrow */
    appearance: none;
    /* Additional resets for further consistency */
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

  select {
    outline: none;
  }
  .select {
    width: 100%;
    min-width: 15ch;
    /* max-width: 30ch; */
    border: 0.5px solid var(--select-border);
    /* border-radius: 0.25em; */
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    align-items: center;
    min-height: 2rem;
    position: relative;
    display: grid;
    grid-template-areas: "select";
  }  
  
  .select::after {
    display: flex;
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }
  select,
  .select:after {
    grid-area: select;
  }

  .select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
    outline: royalblue auto 5px;
  }

   input,
   textarea {
    /* color: var(--dark-grey); */
    width: 100%;
    max-width: 360px;
    padding: 0.5rem 0;
    text-decoration: none;
    border: 0;
    border-radius: 0;
    /* background: transparent; */
    /* border-bottom: 2px solid var(--main-color); */
    /* background: rgba(0, 0, 0, 0); */
    transition: all 0.2s ease-in-out;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  
  textarea {
    min-height: 2rem;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='phone'],
  input[type='number'],
  input[type='tel'],
  input[type='date'],
  textarea,
  select {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid var(--main-color);
  }
  
  textarea {
    padding: 0;
  }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='phone']:focus,
  input[type='number']:focus,
  input[type='tel']:focus,
  input[type='date']:focus,
  textarea:focus {
    background: rgba(182, 114, 114, 0.9);
    /* border-bottom: 2px solid var(--dark-green); */
    border-bottom: 2px solid var(--gradient-stroke);
    outline: none;
  }
  
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='phone']:focus,
  input[type='number']:focus,
  input[type='tel']:focus,
  input[type='date']:focus,
  textarea:focus {
    background: rgba(255, 255, 255, 0.9);
    /* border-bottom: 2px solid var(--dark-green); */
    border-bottom: 2px solid var(--gradient-stroke);
    outline: none;
  }

  
  
  /* submit button */
  /* ------------------------------------ */
  
   button {
    position: relative;
    display: flex;
    place-content: center;
    text-align: center;
    padding: 0.56em 2em;
    gap: 0.8em;
    color: var(--accent-text-over);
    text-decoration: none;
    line-height: 1.1;
    border-radius: 999rem;
    overflow: hidden;
    background: var(--gradient-accent-orange);
    box-shadow: var(--shadow-md);
    white-space: nowrap;
    border: none;
    max-width: fit-content;
    font-family: var(--font-body);
    font-size: var(--text-lg);
    transition: all var(--theme-transition);
  }
  
   button:hover {
    background: transparent;
    /* transition: all 0.5; */
  }
  
   button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: var(--gradient-accent);
    padding: 0;
    margin: 0;
    /* transition: all var(--theme-transition); */
    transition: all 0.4s;
    opacity: 0;
  }
  
   button:hover::before {
    opacity: 1;
  }
  
  /* checkbox */
  /* ------------------------------------ */
  
  .checkbox {
    position: relative;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    vertical-align: baseline;
    font-style: normal;
    min-height: 17px;
    font-size: 1rem;
    line-height: 17px;
    min-width: 17px;
  }
  
  .checkbox input[type='checkbox'],
  .checkbox input[type='radio'] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
    outline: 0;
    z-index: 3;
    width: 17px;
    height: 17px;
  }
  
  .checkbox .box,
  .checkbox label {
    cursor: auto;
    position: relative;
    display: block;
    padding-left: 1.85714em;
    outline: 0;
    font-size: 0.8em;
  }
  
  .checkbox .box:before,
  .checkbox label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    content: '';
    background: #fff;
    border-radius: 0.21428571rem;
    transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
      box-shadow 0.1s ease;
    border: 1px solid #d4d4d5;
  }
  
  .checkbox .box:after,
  .checkbox label:after {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    text-align: center;
    opacity: 0;
    color: var(--grey-200);
    transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
      box-shadow 0.1s ease;
  }
  
  .checkbox label,
  .checkbox + label {
    color: var(--grey-200);
    transition: color 0.1s ease;
  }
  
  .checkbox + label {
    vertical-align: middle;
  }
  
  .checkbox .box:hover::before,
  .checkbox label:hover::before {
    background: #fff;
    border-color: rgba(34, 36, 38, 0.35);
  }
  
  .checkbox label:hover,
  .checkbox + label:hover {
    color: var(--grey-999);
  }
  
  .checkbox .box:active::before,
  .checkbox label:active::before {
    background: #f9fafb;
    border-color: rgba(34, 36, 38, 0.35);
  }
  
  .checkbox .box:active::after,
  .checkbox label:active::after {
    color: var(--grey-100);
  }
  
  .checkbox input:active ~ label {
    color: var(--grey-100);
  }
  
  .checkbox input:focus ~ .box:before,
  .checkbox input:focus ~ label:before {
    background: #fff;
    border-color: #96c8da;
  }
  
  .checkbox input:focus ~ .box:after,
  .checkbox input:focus ~ label:after {
    color: var(--grey-100);
  }
  
  .checkbox input:focus ~ label {
    color: var(--grey-100);
  }
  
  .checkbox input:checked ~ .box:before,
  .checkbox input:checked ~ label:before {
    background: #fff;
    border-color: rgba(34, 36, 38, 0.35);
  }
  
  .checkbox input:checked ~ .box:after,
  .checkbox input:checked ~ label:after {
    opacity: 1;
    color: var(--grey-100);
  }
  
  .checkbox input:not([type='radio']):indeterminate ~ .box:before,
  .checkbox input:not([type='radio']):indeterminate ~ label:before {
    background: #fff;
    border-color: rgba(34, 36, 38, 0.35);
  }
  
  .checkbox input:not([type='radio']):indeterminate ~ .box:after,
  .checkbox input:not([type='radio']):indeterminate ~ label:after {
    opacity: 1;
    color: var(--grey-100);
  }
  
  .checkbox input:checked:focus ~ .box:before,
  .checkbox input:checked:focus ~ label:before,
  .checkbox input:not([type='radio']):indeterminate:focus ~ .box:before,
  .checkbox input:not([type='radio']):indeterminate:focus ~ label:before {
    background: #fff;
    border-color: #96c8da;
  }
  
  .checkbox input:checked:focus ~ .box:after,
  .checkbox input:checked:focus ~ label:after,
  .checkbox input:not([type='radio']):indeterminate:focus ~ .box:after,
  .checkbox input:not([type='radio']):indeterminate:focus ~ label:after {
    color: var(--grey-100);
  }
  
  .read-only.checkbox,
  .read-only.checkbox label {
    cursor: default;
  }
  
  .checkbox input[disabled] ~ .box:after,
  .checkbox input[disabled] ~ label,
  .disabled.checkbox .box:after,
  .disabled.checkbox label {
    cursor: default !important;
    opacity: 0.5;
    color: #000;
  }
  
  .checkbox input.hidden {
    z-index: -1;
  }
  
  .checkbox input.hidden + label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio.checkbox {
    min-height: 15px;
  }
  
  .radio.checkbox .box,
  .radio.checkbox label {
    padding-left: 1.85714em;
  }
  
  .radio.checkbox .box:before,
  .radio.checkbox label:before {
    content: '';
    transform: none;
    width: 15px;
    height: 15px;
    border-radius: 500rem;
    top: 1px;
    left: 0;
  }
  
  .radio.checkbox .box:after,
  .radio.checkbox label:after {
    border: none;
    content: '' !important;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  
  .radio.checkbox .box:after,
  .radio.checkbox label:after {
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 500rem;
    transform: scale(0.46666667);
    background-color: var(--grey-200);
  }
  
  .radio.checkbox input:focus ~ .box:before,
  .radio.checkbox input:focus ~ label:before {
    background-color: #fff;
  }
  
  .radio.checkbox input:focus ~ .box:after,
  .radio.checkbox input:focus ~ label:after {
    background-color: var(--grey-100);
  }
  
  .radio.checkbox input:indeterminate ~ .box:after,
  .radio.checkbox input:indeterminate ~ label:after {
    opacity: 0;
  }
  
  .radio.checkbox input:checked ~ .box:before,
  .radio.checkbox input:checked ~ label:before {
    background-color: #fff;
  }
  
  .radio.checkbox input:checked ~ .box:after,
  .radio.checkbox input:checked ~ label:after {
    background-color: var(--grey-100);
  }
  
  .radio.checkbox input:focus:checked ~ .box:before,
  .radio.checkbox input:focus:checked ~ label:before {
    background-color: #fff;
  }
  
  .radio.checkbox input:focus:checked ~ .box:after,
  .radio.checkbox input:focus:checked ~ label:after {
    background-color: var(--grey-100);
  }
  
  /* FLOAT LABLES */
  /* ------------------------------------ */
  
  label span {
  }
  textarea label span {
  }
  
  input:valid span + label span,
  input:focus + label span,
  textarea:focus + label span,
  input:focus-within + label span,
  textarea:focus-within + label span {
    /* transform: scale(0.8); */
    /* top: -57px; */
    
  }
  textarea:focus + label span,
  textarea:focus-within + label span {
    /* top: -87px;
    margin-top: 5px; */
  }
  
  /* input:placeholder {display: none;} */
  
  input:valid ~ button,
  input:valid ~ input[type='submit'],
  textarea:valid ~ input[type='submit'] {
    /* -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards; */
  }
  
  /* button, */
  input:invalid ~ button,
  input[type='submit'],
  input:invalid ~ input[type='submit'],
  textarea:invalid ~ input[type='submit'] {
    /* display: none; */
  }
  
  button {
    /* outline-color: var(--main-color-dark); */
  }
  
  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
