
:root {

  --spacing: 0.25rem;
  --radius: 1.25rem;
  --radius-sm: 0.75rem;
  --radius-xsm: 0.5rem;
  --radius-xsm: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --transition: all 0.3s linear;
  --transition-fast: all 0.125s linear;
  --link: #ff9776;
  --link-hover: #ff9776;

  /* breakpoint */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-full: 1920px;

  /* modals */
  
  --modal-background: rgba(0, 0, 0, 0.5);
  --modal-background-alt: rgba(255, 255, 255, 0.5);
  --modal-color: #ff9776;
  --modal-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  --modal-radius: 0.25rem;
  --modal-width: 30rem;
  --modal-max-width: 90vw;
  --modal-transition: all 0.3s linear;
  --modal-padding: 1rem;
  --modal-border: 1px solid #ff9776;
  --modal-border-alt: 1px solid #ff9776;
  --modal-border-radius: 0.25rem;
  --modal-border-radius-alt: 0.25rem;
  --modal-border-width: 1px;
  --modal-border-width-alt: 1px;
  --modal-border-color: #ff9776;

  /* sizes */
/* 
  --logosizew: 200px;
  --logosizeh: 60px; */
  --logosizew: 75px;
  --logosizeh: 45px;
  --socialsizew: 30px;
  --socialsizeh: 30px;
  /* --nav-height: 8rem; */
  --footer-height: 146px;
  --body-height: calc(100vh - var(--nav-height) - var(--footer-height));

  /* mobile spacing */
  --xs-padding:0.5rem;
  --sm-padding:1rem;
  --bodypadding: 2.5vw;
  --sectionpadding:6.5vw;
  --col-gap: 1rem;

  --max-col-width: calc(100vw - (var(--bodypadding)*2));
}

@media only screen and (min-width: 1280px) {
  :root {
    /* spacing */
    --xs-padding:1rem;
    --sm-padding:2rem;
    --bodypadding: 5vw;
    --sectionpadding:6.5vw;
    --col-gap: 2rem;
  }
}


:root {
  --grid-width: var(--gbl-size-grid-width);
  --grid-height: var(--gbl-size-grid-height);
  --grid-padding: var(--gbl-size-grid-padding-mobile);
  --grid-column-count: var(--gbl-layout-grid-columns-small);
  --grid-gutter: var(--gbl-size-grid-gutter-mobile)
}

@media only screen and (min-width: 1280px) {
  :root {
      --grid-padding:var(--gbl-size-grid-padding-desktop);
      --grid-column-count: var(--gbl-layout-grid-columns-large);
      --grid-gutter: var(--gbl-size-grid-gutter-desktop)
  }
}


/* Global variables */
:root {
  /* Transitions */
  --theme-transition: 0.2s ease-in-out;
}


html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
    background-color: var(--gray-900) /* #f1f5f9 */;
    font-family: sans-serif;
}
html.dark {
    background-color: #0d0950;
    color: #fff;
}

body {
  /* background-color: var(--gray-999); */
  color: var(--gray-100);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --selection-color: rgba(var(--brand-green-rgb), 0.3);
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--selection-color);
}

::selection {
  color: white;
  background: var(--selection-color);
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}

section {
  /* padding: 2rem 0; */
  width: 100%;
}

/* Utilities */

.sr, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: 83rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
  


.dark .nav-links a {
    color: #fff;
}
  
body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 80ch; */
    /* padding: 1rem; */
    padding-top: var(--nav-height);
    line-height: 1.5;
}

  
* {
    box-sizing: border-box;
}
  

/* STRUCTURE */

main>section {
  position: relative;
  overflow: hidden;
  /* padding-right: var(--grid-padding);
  padding-left: var(--grid-padding);
  animation: fade-in var(--bd-time-transition-650) var(--ease-out) forwards;
  opacity: 0;
  will-change: transform, visibility; */
}

main {
    /* min-height: calc(100vh - (var(--nav_hght) + var(--footer_hght))); */
    min-height: var(--body-height);
    /* display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
} 

.main-content {
    /*  */
    /* min-height: calc(100vh - (var(--nav_hght) + var(--footer_hght))); */
    min-height: var(--body-height);
    
}

.main-content {
  
}



section {
    /* padding: 2rem; */
    /* padding: var(--sectionpadding) var(--bodypadding)  */
    padding: var(--sectionpadding) var(--bodypadding);
}
section.hero {
    min-height: 60vh;
}

.gallery {
    grid-area: gallery;
}


.card img,
  p img {
      max-width: var(--max-col-width);
  }

@media (min-width: 50em) {
  .card img,
  p img {
      /* max-width: calc(100vw - (var(--sectionpadding)*2)); */
      max-width: var(--max-col-width);
  }
}


.image_wrap, .video_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.image_wrap_vert {
  aspect-ratio: unset;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */



.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;

}

.noise:after {
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  animation: noise 1s steps(2) infinite;
  background-image: url(../assets/noise.png);
  background-position: 50%;
  content: "";
  will-change: transform;
}

@keyframes noise {
  0% { transform: translate3d(0,9rem,0) }
  10% { transform: translate3d(-1rem,-4rem,0) }
  20% { transform: translate3d(-8rem,2rem,0) }
  30% { transform: translate3d(9rem,-9rem,0)}
  40% { transform: translate3d(-2rem,7rem,0) }
  50% { transform: translate3d(-9rem,-4rem,0) }
  60% { transform: translate3d(2rem,6rem,0) }
  70% { transform: translate3d(7rem,-8rem,0) }
  80% { transform: translate3d(-9rem,1rem,0) }
  90% { transform: translate3d(6rem,-5rem,0) }
  to { transform: translate3d(-7rem,0,0) }
}

/* grabient */

.gradient {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

/* carousel */

.carousel_container {
  position: relative;
  left: calc(var(--grid-padding)* -1);
  width: calc(100% + var(--grid-padding)* 2);
  cursor: none;
}

/* structure */

.row {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: var(--col-gap);
  width: var(--max-col-width);
}

@media screen and (min-width: 1280px) {
  .row {
    flex-direction: row;
  }
  
}

.column, .internal  {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  /* flex: 1 1 100%; */
  width: 100%;
}

.internal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: calc((var(--max-col-width)/3) - var(--col-gap));
}

.column.col_title {
  width: 100%;  
  max-width: calc((var(--max-col-width)/3) - var(--col-gap));
  /* max-width: calc(30vw - var(--col-gap) - (var(--bodypadding)*2)); */
  /* text-align: center; */
  padding-right: var(--col-gap);
}
.column.col_content {
  max-width: calc((var(--max-col-width)*2/3) - var(--col-gap));
}
.flex-wrap {    
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--col-gap);
}

@media screen and (max-width: 1280px) {
  .column, [class*="column"],
  .column[class*="col_"],
  .column.col_title,
  .column.col_content {
    max-width: var(--max-col-width);
  }
}

/* carousel */

.carousel_container {
  position: relative;
  left: calc(var(--bodypadding)* -1);
  width: calc(100vw - (var(--bodypadding)* 1));
  overflow: hidden;
  cursor: none;
  margin: 0 var(--bodypadding);
  box-sizing: content-box;
}

.carousel_stage {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  gap: var(--col-gap);
  /*  */
  position: relative;
  /* overflow: scroll visible; */
  overflow-x: scroll;
  padding-left: var(--grid-padding);
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel_wrap {
  display: flex;
  gap: var(--col-gap);
}
.carousel_wrap .image_wrap {
  flex: 0 0 var(--max-col-width);
}

/* 
.carousel_stage {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    content:"";
    cursor: w-resize;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    content:"";
    cursor: e-resize;
  }
} */

/* cursor */

.cursor {
  width: 7.5rem;
  height: 7.5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 111;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%) scale(0);
  transform-origin: center;
  transition: var(--transition-fast);
  opacity: 0;
  mix-blend-mode: difference;
}
.cursor::after {
  position:absolute;
  color:black;
  content: "SCROLL";
  font-size:10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
}
.cursor.drag::after {
  content: "NO DRAG";
}

.cursor.resize {
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}
.cursor.resize.drag {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
  opacity: 1;
}
