
:root {

  --spacing: 0.25rem;
  --radius: 1.25rem;
  --radius-md: 1rem;
  --radius-sm: 0.5rem;
  --radius-xsm: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --aspect_1_1: 1 / 1;
  --aspect_16_9: 16 / 9;
  --aspect_4_3: 4 / 3;
  --aspect_3_2: 3 / 2;
  --aspect_2_3: 2 / 3;
  --aspect_9_16: 9 / 16;

  /*  */

  /*  */
  --link: var(--accent-regular);
  --link-hover: var(--accent-dark);

  /* breakpoint */

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-full: 1920px;

  /* modals */
  
  --modal-background: rgba(0, 0, 0, 0.5);
  --modal-background-alt: rgba(255, 255, 255, 0.5);
  --modal-color: #ff9776;
  --modal-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  --modal-radius: 0.25rem;
  --modal-width: 30rem;
  --modal-max-width: 90vw;
  --modal-transition: all 0.3s linear;
  --modal-padding: 1rem;
  --modal-border: 1px solid #ff9776;
  --modal-border-alt: 1px solid #ff9776;
  --modal-border-radius: 0.25rem;
  --modal-border-radius-alt: 0.25rem;
  --modal-border-width: 1px;
  --modal-border-width-alt: 1px;
  --modal-border-color: #ff9776;

  /* sizes */

  --logosizew: 75px;
  --logosizeh: 45px;
  --socialsizew: 30px;
  --socialsizeh: 30px;
  /* --nav-height: 8rem; */
  --footer-height: 146px;
  --body-height: calc(100vh - var(--nav-height) - var(--footer-height));
  --max-body-height: calc(100vh - var(--nav-height));

  /* mobile spacing */

  --xs-padding:0.5rem;
  --sm-padding:1rem;
  --bodypadding: 2.5vw;
  --sectionpadding:6.5vw;
  --col-gap: 1rem;

  --max-col-width: calc(100vw - (var(--bodypadding)*2));
  --max-content-width: calc((var(--max-col-width)*2/3) - var(--col-gap));

  /*  */
  --divider-color: var(--gradient);

  
}

@media only screen and (min-width: 1280px) {
  :root {
    /* spacing */
    --xs-padding:1rem;
    --sm-padding:2rem;
    /* --bodypadding: 5vw;
    --sectionpadding:6.5vw; */
    --bodypadding: 2.5vw;
    --sectionpadding:6.5vw;
    --col-gap: 2rem;
  }
}


:root {
  --grid-width: var(--gbl-size-grid-width);
  --grid-height: var(--gbl-size-grid-height);
  --grid-padding: var(--gbl-size-grid-padding-mobile);
  --grid-column-count: var(--gbl-layout-grid-columns-small);
  --grid-gutter: var(--gbl-size-grid-gutter-mobile)
}

@media only screen and (min-width: 1280px) {
  :root {
      --grid-padding:var(--gbl-size-grid-padding-desktop);
      --grid-column-count: var(--gbl-layout-grid-columns-large);
      --grid-gutter: var(--gbl-size-grid-gutter-desktop)
  }
}


/* Global variables */


html {
  /* scroll bar shift solutions */
  scrollbar-gutter: stable;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* elements inside won't be affected by scrollbars */
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
    background-color: var(--gray-900) /* #f1f5f9 */;
    font-family: sans-serif;
}
html.dark {
    background-color: #0d0950;
    color: #fff;
}

body {
  /* background-color: var(--gray-999); */
  color: var(--gray-100);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --selection-color: rgba(var(--brand-rgb), 0.3);
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--selection-color);
}

::selection {
  color: white;
  background: var(--selection-color);
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

section {
  /* padding: 2rem 0; */
  width: 100%;
}

/* Utilities */

.sr, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: 83rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
  


.dark .nav-links a {
    color: #fff;
}
  
body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 80ch; */
    /* padding: 1rem; */
    padding-top: var(--nav-height);
    line-height: 1.5;
}

  
* {
    box-sizing: border-box;
}
  

@media (pointer: fine) and (min-width: 640px) {
    .cursor-none, .cursor-none *, .cursor-none :before, .cursor-none :after {
        cursor: none !important;
    }
}

/* STRUCTURE */

main>section {
  position: relative;
  overflow: hidden;
  /* padding-right: var(--grid-padding);
  padding-left: var(--grid-padding);
  animation: fade-in var(--bd-time-transition-650) var(--ease-out) forwards;
  opacity: 0;
  will-change: transform, visibility; */
}

main {
    /* min-height: calc(100vh - (var(--nav_hght) + var(--footer_hght))); */
    min-height: var(--body-height);
    /* display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
} 

.main-content {
    /*  */
    /* min-height: calc(100vh - (var(--nav_hght) + var(--footer_hght))); */
    min-height: var(--body-height);
    
}


section {
    /* padding: 2rem; */
    /* padding: var(--sectionpadding) var(--bodypadding)  */
    padding: var(--sectionpadding) var(--bodypadding);
}
section.hero {
    min-height: 60vh;
}
@media only screen and (max-width: 700px) {
    section.hero {
        min-height: 40vh;
    }
}

.gallery:has(.medium) {
    /* grid-area: gallery; */
    margin-top: var(--sectionpadding);
}


.card img,
  p img {
      max-width: var(--max-col-width);
  }

@media (min-width: 50em) {
  .card img,
  p img {
      /* max-width: calc(100vw - (var(--sectionpadding)*2)); */
      max-width: var(--max-col-width);
  }
}


.image_wrap, .video_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  /* aspect-ratio: 16/9; */
}
.image_wrap, .image_wrap img, 
.video_wrap, .video_wrap video {
  color:inherit;
}

.aspect_16_9_pad,
.aspect_4_3_pad,
[class*="_pad"] {
  background-color: var(--gray-800);
  max-width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* aspect-ratio: unset !important; */
}

.aspect_16_9 {
  aspect-ratio: 16/9;
}
.aspect_16_9 > *,
.aspect_16_9_pad > * {
  aspect-ratio: 16/9;
}

.aspect_16_9_pad > *,
.aspect_4_3_pad > *,
[class*="_pad"] > * {
  max-width: calc( 90vw * 16/9);
  margin: 8% 8%;
}
.aspect_4_3 {
  aspect-ratio: 4/3;
}
.aspect_4_3 > *,
.aspect_4_3_pad > * {
  aspect-ratio: 4/3;
}

.aspect_6_5, 
.aspect_6_5 > * {
  aspect-ratio: 6/5;
}
.aspect_3_2, 
.aspect_3_2 > * {
  aspect-ratio: 3/2;
} 
.aspect_2_3, 
.aspect_2_3 > * {
  aspect-ratio: 2/3;
}
.aspect_9_16, 
.aspect_9_16 > *  {
  aspect-ratio: 9/16;
}
.aspect_1_1, 
.aspect_1_1 > * {
  aspect-ratio: 1/1;
}

.aspect_2060_954 {
  max-width: 90vw;
}
.aspect_2060_954 > * {
  aspect-ratio: 2060/954;
}

.image_wrap, 
.video_wrap {
  border-radius: var(--border-radius);
}


.info_wrap, 
.overlay, 
.portfolio .flex.large .card {
  border-radius: unset;
}
.info_wrap p {
        letter-spacing: 0.001rem;
}
.video_wrap {
  /* margin-bottom: calc(var(--bodypadding));
  margin-top: calc(var(--bodypadding) / 2) ; */
}
.carousel_slide .video_wrap {
  /* margin-bottom: 0;
  margin-top: 0; */
}

.image_wrap_vert {
  aspect-ratio: unset;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 80vh;
  max-width: max-content;
}

video.paused {
  opacity: 0.5; /* Make the paused video slightly transparent */
}

video.playing {
  opacity: 1;
}

video::-webkit-media-controls,
video.no_controls::-webkit-media-controls {
  display: none;
}
video.controls::-webkit-media-controls {
  display: unset;
}


.carousel_slide .video_wrap {
    /* max-width: 95vw; */
    max-height: 80vh;
}


/*  */



.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;

}

.noise:after {
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  animation: noise 1s steps(2) infinite;
  background-image: url(../assets/noise.png);
  background-position: 50%;
  content: "";
  will-change: transform;
}

@keyframes noise {
  0% { transform: translate3d(0,9rem,0) }
  10% { transform: translate3d(-1rem,-4rem,0) }
  20% { transform: translate3d(-8rem,2rem,0) }
  30% { transform: translate3d(9rem,-9rem,0)}
  40% { transform: translate3d(-2rem,7rem,0) }
  50% { transform: translate3d(-9rem,-4rem,0) }
  60% { transform: translate3d(2rem,6rem,0) }
  70% { transform: translate3d(7rem,-8rem,0) }
  80% { transform: translate3d(-9rem,1rem,0) }
  90% { transform: translate3d(6rem,-5rem,0) }
  to { transform: translate3d(-7rem,0,0) }
}

/* gradient */

.gradient {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, rgb(var(--accent-dark)) 0%, rgb(var(--accent-regular)) 46%, rgb(var(--accent-light)) 100%);
}

/* structure */

.row {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: var(--col-gap);
  width: var(--max-col-width);
  position: relative;
}

@media screen and (min-width: 1280px) {
  .row {
    flex-direction: row;
  }
  
}


.top-space {
  margin-top: 6rem;
}

/* ------------------------------------- */
/* DIVIDER */

.has-divider {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.has-divider::before {
  content: "";
  display: block;
  /* width: 100%; */
  width: 0;
  height: 1px;
  /* background-color: var(--gray-700); */
  background: var(--brand);
  /* padding-top: 1rem; */
  position: absolute;
  top:0;
  transition: var(--transition-eioq);

}

.in-view .has-divider::before {
  width: var(--max-col-width);
}

.column, .internal  {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  /* flex: 1 1 100%; */
  width: 100%;
}

.internal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: calc((var(--max-col-width)/3) - var(--col-gap));
}

.column.col_title {
  width: 100%;  
  max-width: calc((var(--max-col-width)/3) - var(--col-gap));
  /* max-width: calc(30vw - var(--col-gap) - (var(--bodypadding)*2)); */
  /* text-align: center; */
  padding-right: var(--col-gap);
}
.column.col_content {
  max-width: var(--max-content-width);
}

.content {
  margin: 2rem 0;
}


.flex {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.flex-wrap {    
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--col-gap);
}

@media screen and (max-width: 1280px) {
  .column, [class*="column"],
  .column[class*="col_"],
  .column.col_title,
  .column.col_content {
    max-width: var(--max-col-width);
  }
}

.portfolio ~ .content p.small {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/* ------------------------------------- */
/* images */

.image_wrap picture img,
.image_wrap img {
  width: auto;
  height: 100%;
  /* max-height: var(--body-height); */
}

.image_wrap picture {
  display: flex;
  width: auto;
}
.image_wrap picture img,
.image_wrap img {
  width: auto;
  height: 100%;
  /* max-height: var(--body-height); */
}

@media screen and (max-width: 880px) {
  .image_wrap picture img {
    color:inherit;
  }
  
}


/* tags */

a {
  color: var(--primary);
  text-decoration: none;
  transition: var(--theme-transition);
}

section:has(.tags) {
    padding-bottom: 0;
}

.tags, .industry-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: .5rem 0.25rem ;
}
#projects .tags,
#projects .industry-tags {
  margin-top: 0;
  /* margin-bottom: 1rem; */
}

p .tag,
p .industry-tag,
.tag, .industry-tag {
  /* margin: 0.5rem; */
  padding: 0.25rem;
  /* border: dotted 1px #a1a1a1; */
  border-radius: 5em;
  padding: .5em 1em;
  font-size: var(--font-size-xs);
  font-size: 1rem;
  transition: var(--theme-transition);
}
.industry-tag {
  /* background-color: #dcc1ff; */
  background-color: hsla(var(--brand-hsl), 0.1);
}
.tag {
  background-color: hsla(var(--mono-hsl), 0.1);
}

.tag:hover, .industry-tag:hover {
  background-color: var(--primary);
  color: var(--white);
}
.tag:hover a, .industry-tag:hover a {
  color: var(--white);
}

/* square hover state */

.rect-wrap {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.square-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    transition: var(--theme-transition);
    aspect-ratio: auto;
}

.square-wrap:hover {
    flex: 2;
    aspect-ratio: 2 / 3;
}

.square-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--theme-transition);
}


/* portfolio preview */


.flex {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}


.large {
  	gap: var(--col-gap);
}

.portfolio-preview {
		display: flex;		
		background: transparent;
		color: var(--gray-100);
		text-decoration: none;
		width: 100%;
		overflow: hidden;
		gap: var(--col-gap); 
	}

	.large .portfolio-preview {
		display: flex;		
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		max-height: 80vh;
	}

  .large > * {
			flex-basis: 100%;
      width: 100%;
			/* max-width: 90vw; */
  }

  .flex.medium {
    gap: var(--col-gap);
    margin-top: var(--sectionpadding);
  }

  .medium > * {
			flex-basis: 100%;
      width: 100%;
      max-width: calc((100% - (var(--col-gap)*2))/3);
			/* max-width: 90vw; */
  }
  @media screen and (max-width: 1280px) {
    .medium > * {
      max-width: calc((100% - (var(--col-gap)*3))/4);
    }
  }


	.medium .portfolio-preview {
		flex-direction: column;
	}
  .medium .portfolio-preview { flex-direction: column; gap: var(--col-gap); }
  .medium .info-wrap,
  .medium .image-wrap { width: 100%; max-width: 100%; }
  .medium .info-wrap { order: 2; flex: unset;}
  /* .flex.medium .image-wrap { flex: 0 1 100% } */
  .medium .image-wrap { order: 1; }

  
  .small {
    gap: calc(var(--col-gap)*2);
  }
  .small > * {
      /* flex-basis: 100%; */
      width: 100%;
      max-width: 10vw;
  }

 
	/*  */


.info-wrap {
    flex: 0 1 calc((var(--max-col-width) / 3) - var(--col-gap));
    max-width: calc((var(--max-col-width) / 3) - var(--col-gap));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    /* padding: 0.95rem; */
}

@media screen and (max-width: 50em) {
	.info-wrap {
		flex: 0 1 100%;
		max-width: 100%;
	}
}

.info-wrap h3,
.info-wrap p {
    margin: 0;
    padding-bottom: 0;
    font-family: var(--font-body);
}


.info-wrap h3 {
    font-size: clamp(1.125rem, 1.3vw, 1.375rem);
    line-height: 1.1;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--gray-100);
}

.info-wrap p {
    font-size: var(--font-size-small);
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.001rem;
}

.image-wrap {
    flex: 0 1 var(--max-content-width);
    width: var(--max-content-width);
    max-width: var(--max-content-width);
    /* aspect-ratio: 1812 / 1018.5; */
    aspect-ratio: 16 / 9;
    overflow: hidden;
    /* border-radius: inherit; */
    border-radius: 0.625rem;
    background: var(--gray-800);
}

.image-wrap img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: transform 420ms ease-in-out, filter 420ms ease-in-out;
}

.image-wrap:has(:not(img)),
.missing-image {
    background: red;
    max-height: max-content;
}
	
.portfolio-preview:hover img,
.portfolio-preview:focus-visible img {
    transform: scale(1.025);
    filter: grayscale(0);
}

