/* Typography tokens */
:root {

  /* fonts imported via config */
  --font-system: system-ui, sans-serif;
  --font-brand: var(--font-champ, 'Champ'), sans-serif;
  --font-body: var(--font-dm-sans, 'DM Sans'), sans-serif;

  --rem-base: 62.5%;

  /* Font sizes */
  --font-size-small: 1.1rem;
  --font-size-body: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-footer: var(--font-size-small);
  --font-size-h1: 4rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 2.2rem;
  --font-size-h4: 2rem;
  --font-size-h5: 1.8rem;
  --font-size-h6: 1.2rem;
  --font-size-label: var(--font-size-small);
  --font-size-mobile-nav: 3rem;

  /* Line heights */
  --line-height-small: 1.14;
  --line-height-regular: 1.2;
  --line-height-body: 1.66;
  --line-height-large: 1.45;

  --leading-flat: 0.9;
  --line-height-h1: 0.9;
  --line-height-h2: 1.1;
  --line-height-h3: 1.1;
  --line-height-h4: 1.2;
  --line-height-h5: 1.1;
  --line-height-h6: 1.1;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-weight-body: 400;

  --font-weight-headings: var(--font-weight-black);
  --font-weight-huge: var(--font-weight-black);

  /* Letter spacing */
  --letter-spacing-small: 0.02em;
  --letter-spacing-regular: 0.01rem;
  --letter-spacing-body: 0.01rem;
  --letter-spacing-sub: 0.01rem;
  --letter-spacing-large: -0.04em;
  --letter-spacing-headings: 0.02rem;

  --letter-spacing-h2: -0.0025em;
  --letter-spacing-h3: -0.035em;
  --letter-spacing-h4: -0.02em;
  --letter-spacing-h5: -0.01em;
  --letter-spacing-h6: -0.005em;
}

@media screen and (min-width: 1280px) {
  :root {
      --font-size-small: 1.4rem;
      --font-size-body: 1.8rem;
      --font-size-large: 2.2rem;
      --font-size-h2: 2.5rem;
      --font-size-h3: 3.8rem;
      --font-size-h4: 2.8rem;
      --font-size-h5: 2.2rem;
      --font-size-h6: 1.4rem;
  }
}

:root {
  --font-size-lg: 2rem;
  --font-size-xxl: 2.4rem;
  --font-size-3xl: 2.8rem;
  --font-size-9xl: min(10.5vw, 4rem);
  --text-huge: 12vw;
}

@media screen and (min-width: 880px) {
    :root {
        --text-huge: 8.3333333333vw;
        --font-size-9xl: 6.25vw;
    }
}


/* STYLES */


html {
  font-size: var(--rem-base);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: normal;
  font-variant-ligatures: normal;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-body)
}

.body-small, .small {
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-small);
  line-height: var(--line-height-small)
}

.body-large, .large {
  font-size: var(--font-size-large);
  letter-spacing: var(--letter-spacing-large);
  line-height: var(--line-height-large)
}


h1 {
  font-family: var(--font-brand);
  font-weight: var(--font-weight-huge);
  letter-spacing: -0.1rem;
}

/* eg mobile only br */
.hero {
    & .hero__heading {
        & h1 {
            br.mobile {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    .hero {
        & .hero__heading {
            & h1 {
                br.mobile {
                    display: block;
                }
            }
        }
    }
}

h2:not(.subtitle),
h3,
h4,
[id*="heading"], 
h5,
h6 {
    font-family: var(--font-brand);
    font-weight: var(--font-weight-headings);
    letter-spacing: var(--letter-spacing-headings);
    color: var(--brand);
}  
  
.subtitle {
    font-family: var(--font-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-regular);
    letter-spacing: var(--letter-spacing-sub);
    max-width: 40ch;
} 


#project .subtitle {
  font-size: var(--font-size-lg);
  letter-spacing: var(--letter-spacing-body);
} 

@media screen and (min-width: 1280px) {
  .subtitle {
    font-size: var(--font-size-3xl);
    /* letter-spacing: var(--letter-spacing-body); */
  }
  
}

b,strong {
  font-weight: var(--font-weight-bold)
}

i {
  font-style: italic
}

sup {
  margin-left: .1rem;
  font-size: 50%;
  vertical-align: super
}

.h1,h1 {
  font-size: var(--text-huge);
  line-height: var(--line-height-h1);
  max-width: 14ch;
  /* leading-trim:unset; */
}


html:not([data-page="home"]) h1 {
  font-size: var(--font-size-9xl);
}

.h2, h2 {
  font-size: var(--font-size-h2);
  /* font-weight: var(--font-weight-h2); */
  letter-spacing: var(--letter-spacing-headings);
  line-height: var(--line-height-h2);
  /* max-width: 35ch; */
}
h2:not(.subtitle) {
  text-transform: unset;
}

.h3,h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  letter-spacing: var(--letter-spacing-h3);
  line-height: var(--line-height-h3);
  max-width: 25ch;
}

.h4,h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  letter-spacing: var(--letter-spacing-h4);
  line-height: var(--line-height-h4)
}

.h5,h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
  letter-spacing: var(--letter-spacing-h5);
  line-height: var(--line-height-h5)
}

.card .title h5 {
  text-transform: uppercase;
}

.h6,h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h6);
  letter-spacing: var(--letter-spacing-h6);
  line-height: var(--line-height-h6)
}

.footer,footer {
  font-size: var(--font-size-footer);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-regular);
  line-height: var(--line-height-regular)
}

/* ,
h2:not(.subtitle),
h3,
h4  */
.text-gradient,
h1
{
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
  transition: background-image .75s var(--ease-out-soft);
  text-box-trim: trim-end;
  padding-bottom: 2rem;
}

#home h1 {
  max-width: 13ch;
}
.text-gradient:hover {
  /* user-select: none; */
}

@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.text-gradient {
  /* It works identically when assigned directly to background-image */
  background-image: linear-gradient(var(--gradient-angle),var(--accent-dark),
        var(--accent-regular) 30%, 
        var(--accent-light) 100%);
  transition: --gradient-angle 0.6s ease;
}

.text-gradient:hover {
  --gradient-angle: 180deg;
}

.text-gradient_mono {
    background-image: linear-gradient(0deg, rgb(97, 109, 120) 0%, rgb(15, 17, 18) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient::-moz-selection,
.text-gradient::selection { 
  /* Code for Firefox */
  color: white !important;
  background: var(--selection-color);
  background-image: unset !important;
  background-clip: unset !important;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

/*  */

.btn-grad {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
/*  */


/* category */
.text-block_text-block__label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
.case-study-overview_content p {
  font-size: 2.2rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.45;
}
.case-study-overview_content h5+p, 
.case-study-overview_content h5+ul {
  margin-top: 2.5rem;
}

/* 
// <uniquifier>: Use a unique and descriptive class name

.schibsted-grotesk-<uniquifier> {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 
*/

/* links */

a {
    color: var(--link-color);
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6,
[id*="heading"] {
    /* line-height: 1.1; */
    /* font-weight: 900; */
    /* color: var(--gray-100); */
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* 
h1 {
    font-size: var(--text-5xl);
    margin: 1rem 0;
}

h2 {
    font-size: var(--text-4xl);
}

h3 {
    font-size: var(--text-3xl);
}

h4 {
    font-size: var(--text-2xl);
}

h5 {
    font-size: var(--text-xl);
}

h6 {
    font-size: var(--text-lg);
} */
 
  /* LINKS */

  /* PARA */

  p {
    margin-bottom: 1.5rem;
    max-width: 75ch;
    letter-spacing: var(--letter-spacing-body);
  }

  .col_title p {
    font-size: var(--font-size-body);
  }

  .light {
    font-weight: var(--font-weight-light);
  }

  /* OTHER */

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  pre {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  

  
