---
// layout
import BaseLayout from '../layouts/BaseLayout.astro';

// components
import { Image } from "astro:assets";


const uniqueID = "test";
const pageTitle = "test";
const metaTitle = "meta title tbc";
const metaDescription = "meta description tbc";
// a boutique agency that thrives at the intersection of design, data, and technology. Together, we’re focused on transforming brands and culture — across the world.
const pageContent = "";

---

<BaseLayout
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
>

	<section class="project_section">

<div class="project_cont">
	<h1>Project</h1>

	<div class="project-gallery">

		<!--  -->
		<a href="" class="project-card a" title="">
			<div class="project-card-wrap">
				<div class="project_text_cont announcement ">
					<h2 class="project_announcement">Finance Marketing Creative Agency of the year: </h2>
					<h2 class="project_title">OMG!Creative</h2>
				</div>
				<img
					src="https://omgcreative.com.au/wp-content/uploads/2025/02/PoE-image_thumb.jpg"
					alt="ShowCaseGallery"
				/>
			</div>
		</a>
		<a href="https://omgcreative.com.au/project/university-of-melbourne/"  class="project-card b " title="University of Melbourne - Melbourne Dental Clinic">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Melbourne Dental Clinic</h2>
				</div>
				<!-- <img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/MDC_brand_feature_thumb.jpg"
					alt="University of Melbourne - Melbourne Dental Clinic"
				/> -->
				<video class="video" width="100%" height="100%" autoplay="true" loop="true" poster="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/MDC_brand_feature_thumb.jpg"> 
					<source src="https://player.vimeo.com/progressive_redirect/playback/1061184282/rendition/720p/file.mp4?loc=external&log_user=0&signature=7ee7ccd1b45292e6f24c0ddf8ea0414871a95f949e4e0f4e0916193d6af32a5d&user_id=9403528" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
		</a>
		<a href="https://omgcreative.com.au/project/epworth-healthcare-brand-transformation/"  class="project-card c" title="Epworth" title="">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Epworth</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Epworth_MI_feature_thumb.jpg"
					alt="Epworth"
				/>
				
			</div> 
		</a>
		<a href="https://omgcreative.com.au/project/remco/"  class="project-card d" title="Remco" title="">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Remco</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2023/11/REMCO_thumb.jpg?fit=800%2C800&ssl=1"
					alt="Remco"
				/>
			</div>
		</a> 
		<a href="https://omgcreative.com.au/project/seven/"  class="project-card e" title="Seven">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Seven</h2>
				</div>
				<img
					src="https://omgcreative.com.au/wp-content/uploads/2023/11/SevenHero.jpg"
					alt="Seven"
				/>
			</div>
		</a>
		
		<a href="https://omgcreative.com.au/project/lug-carrie/"  class="project-card f" title="Lug+Carrie">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Lug+Carrie</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2023/11/lugcarrie_thumb.jpg"
					alt="Lug+Carrie"
				/>
			</div>
		</a>
		
	</div>

	<div class="project-gallery">

		<!--  -->
		<a href="https://omgcreative.com.au/project/samsung/" class="project-card a" title="Samsung">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Samsung</h2>
				</div>

				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2023/11/samsung_screengrab_thumb.jpg?fit=801%2C800&ssl=1"
					alt="Samsung"
					loading="lazy"
				/>
			</div>
		</a>
		<a href="https://omgcreative.com.au/project/praemium-brand-transformation/"  class="project-card b " title="Praemium Brand Transformation">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Praemium Brand Transformation</h2>
				</div>
				<!-- <img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Praemium_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Praemium Brand Transformation"
				/> -->
				<video class="video" width="100%" height="100%" autoplay="true" loop="true" poster="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Praemium_feature_thumb.jpg?fit=900%2C900&ssl=1" > 
					<source src="https://player.vimeo.com/progressive_redirect/playback/1061184338/rendition/720p/file.mp4?loc=external&log_user=0&signature=4145074f6e8698d35a631558caacc4f63902815cadb070263658b6195f7704d1&user_id=9403528" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
		</a>
		<a href="https://omgcreative.com.au/project/didi-rideshare/"  class="project-card c" title="DiDi Rideshare">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">DiDi Rideshare</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/10/DiDi_Rideshare_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="DiDi Rideshare"
					loading="lazy"
				/>
			</div> 
		</a>
		<a href="https://omgcreative.com.au/project/yarra-pools/"  class="project-card d" title="Yarra Pools">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Yarra Pools</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/YarraPools_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Yarra Pools"
					loading="lazy"
				/>
			</div>
		</a> 
		<a href="https://omgcreative.com.au/project/australian-research-data-commons/"  class="project-card e" title="Australian Research Data Commons">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Australian Research Data Commons</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/ARDC_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Australian Research Data Commons"
					loading="lazy"
				/>
			</div>
		</a>
		
		<a href="https://omgcreative.com.au/project/royal-melbourne-show/"  class="project-card f" title="Royal Melbourne Show">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Royal Melbourne Show</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/10/RMS_2019_feature_thumb-1.jpg?fit=900%2C900&ssl=1"
					alt="Royal Melbourne Show"
					loading="lazy"
				/>
			</div>
		</a>

	</div>

	<div class="project-gallery">

		<a href="https://omgcreative.com.au/project/federation-university-brisbane/"  class="project-card a" title="Federation University Brisbane">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Federation University Brisbane</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/FedUni_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Federation University Brisbane"
					loading="lazy"
				/>
			</div>
		</a>
		<a href="https://omgcreative.com.au/project/monash-law-inbound-cx/"  class="project-card b" title="Monash University Law Faculty Inbound CX">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Monash University <br>Law Faculty <br>nbound CX</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Monash_Law_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Monash University Law Faculty Inbound CX"
					loading="lazy"
				/>
			</div>
		</a>
		<a href="https://omgcreative.com.au/project/university-of-canberra/"  class="project-card c" title="University of Canberra">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">University of Canberra</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/UniCBR_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="University of Canberra"
					loading="lazy"
				/>
			</div>
		</a>
		<a href="https://omgcreative.com.au/project/bloom-hearing-healthcare-marketing/"  class="project-card d" title="Bloom Hearing Healthcare Marketing">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Bloom Hearing Healthcare Marketing</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/BloomHearing_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Bloom Hearing Healthcare Marketing"
					loading="lazy"
				/>
			</div>
		</a>
		
		<a href="https://omgcreative.com.au/project/a-g-coombs-branding-and-website/"  class="project-card e" title="A.G.Coombs Branding">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">A.G.Coombs Branding</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/AGCoombs_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="A.G.Coombs Branding"
					loading="lazy"
				/>
			</div>
		</a>

		<a href="https://omgcreative.com.au/project/kieser/"  class="project-card f" title="Kieser">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Kieser</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Kieser_feature_thumb_02.jpg?fit=900%2C900&ssl=1"
					alt="Kieser"
					loading="lazy"
				/>
			</div>
		</a>

	</div>

	<div class="project-gallery five-items">

	<!-- -->
		<a href="https://omgcreative.com.au/project/epa-victoria/"  class="project-card g" title="EPA Victoria">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">EPA Victoria</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/EPA_Vic_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="EPA Victoria"
					loading="lazy"
				/>
			</div>
		</a>

		<a href="https://omgcreative.com.au/project/epworth-a-new-day/"  class="project-card h" title="Epworth: a new day">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Epworth: a new day</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Epworth_Healthcare_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Epworth: a new day"
					loading="lazy"
				/>
			</div>
		</a>

		<a href="https://omgcreative.com.au/project/how-to-sell-a-20-story-development-in-less-than-six-months/"  class="project-card i" title="Central Park">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Central Park</h2>
				</div>
				<img
					src="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/CentralPark_feature_thumb.jpg?fit=900%2C900&ssl=1"
					alt="Central Park"
					loading="lazy"
				/>
			</div>
		</a>

		<a href="https://omgcreative.com.au/project/carfinder-automotive-marketing/"  class="project-card j" title="Carfinder">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Carfinder</h2>
				</div>
				
				<video class="video" width="100%" height="100%" autoplay="true" loop="true" poster="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Carfinder_feature_thumb.jpg?fit=900%2C900&ssl=1" > 
					<source src="https://player.vimeo.com/progressive_redirect/playback/1061184249/rendition/720p/file.mp4?loc=external&log_user=0&signature=91d6202147e7adf0a97db114f63cdc0a025a5b9d4f2e1771275015598009fcc2&user_id=9403528" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
		</a>

		<a href="https://omgcreative.com.au/project/penrite-automotive-marketing/"  class="project-card k" title="Penrite">
			<div class="project-card-wrap">
				<div class="project_text_cont">
					<h2 class="project_title">Penrite</h2>
				</div>
								
				<video class="video" width="100%" height="100%" autoplay="true" loop="true" poster="https://i0.wp.com/omgcreative.com.au/wp-content/uploads/2019/03/Penrite_feature_thumb.jpg?fit=900%2C900&ssl=1" > 
					<source src="https://player.vimeo.com/progressive_redirect/playback/1061184319/rendition/720p/file.mp4?loc=external&log_user=0&signature=4f0ac666c90956969dff2b2db8ed7ac56aad149333d559a1af071b33ab5acc73&user_id=9403528" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
		</a> 
		<!-- -->


	</div>
	
</div>
		  
	</section>

	

</BaseLayout>

<style>
	
:root {
	--col_number: 4;
	--gap_number: calc(var(--col_number) - 1);
	--col_width: calc(100% - (var(--gap_number)*1rem));
	--max-width: calc(var(--col_width) / var(--col_number));

}
.project_section {}

.project_cont {
	margin:0;
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	gap: 1rem;
}

.project-card-wrap {
	/*  */
	
}

.project-card-wrap:hover .project_text_cont {
	opacity: 1;
}

.project_text_cont {
	position: absolute;
	z-index: 1111;
	bottom: 0;
	left: 0;
	height: 100%;
	
	/* display: block; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    align-items: flex-start;
	padding: 1.5rem 1.5rem;
	opacity: 0;
	transition: var(--transition);
}
.project-card:hover .project_text_cont {
	opacity: 1;
}
@media screen and (max-width: 1080px) {
	.project_text_cont {
		opacity: 1;
	}
}
.project_text_cont.announcement {
	opacity: 1;
	top: 0;
	bottom: unset;
	justify-content: space-between;

}

h2.project_title,
.project_title {
	line-height: 1;
    transition: all .2s ease;
    margin: 0;
	padding: 0;
	color: #fff !important;
	-webkit-text-fill-color: unset;
	
	text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
	font-size: 1.5rem;
    letter-spacing: .02em;
    text-align: left;
	transition: var(--transition);
	transform: translateY(0.5rem);
}
.announcement h2.project_title,
.announcement .project_title {
    transform: translateY(0rem);
}


@media screen and (max-width: 1080px) {
	h2.project_title,
	.project_title {
		font-size: 1.25rem;
	}
}
@media screen and (max-width: 800px) {
	h2.project_title,
	.project_title {
		font-size: 1.125rem;
	}	
}
.project-card:hover .project_title {
	transform: translateY(0);
}
h2.project_announcement,
.project_announcement {
	line-height: 1;
    transition: all .2s ease;
    margin: 0;
	padding: 0;
	color: #fff !important;
	-webkit-text-fill-color: unset;
	
	text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
	font-size: 2.125vw;
	/* font-size: clamp(1.875rem, 0.2679rem + 2.381vw, 3.125rem);    text-align: left; */
	transition: var(--transition);
	/* transform: translateY(-0.5rem); */

}
@media screen and (max-width: 1080px) {
	h2.project_announcement,
	.project_announcement {
		font-size: 3.125vw;
	}
}
@media screen and (max-width: 800px) {
	h2.project_announcement,
	.project_announcement {
		font-size: 4.25vw;
	}	
}
.project-card:hover .project_announcement {
	/* transform: translateY(0); */
}


/* Parent container of .project-card */
.project-gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-flow: row;
	grid-auto-flow: dense;
	column-gap: 1rem;
	gap: 1rem 1rem;
	/* margin: 1rem; */
	width: 100%;
	background: rgba(145,145,145,0.125);
	grid-template-areas:
		"a b c c"
		"d d c c"
		"d d e f"
		/* "f f i j"
		"k l m m"
		"n o m m"
		"p p q r"
		"p p s t" */
		;
	
	counter-reset: grid;
}
.five-items {
	grid-template-areas:
		"g h k k"
		"i j k k"
		/* "n o m m"
		"p p q r"
		"p p s t" */
		;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }
.h { grid-area: h; }
.i { grid-area: i; }
.j { grid-area: j; }
.k { grid-area: k; }
/* .l { grid-area: l; }
.m { grid-area: m; }
.n { grid-area: n; }
.o { grid-area: o; }
.p { grid-area: p; }
.q { grid-area: q; }
.r { grid-area: r; }
.s { grid-area: s; }
.t { grid-area: t; } */


.project-card {
	position: relative;
	/* object-fit: cover; */
	/* object-position: center center;
	width: 100%; 
	height: 100%;
	aspect-ratio: 4 / 3; */
	overflow: hidden;
	line-height: 1;
} 

.project-card {
	/* width: var(--max-width);
	max-width: var(--max-width);
	max-height: var(--max-width); */
}
.project-card img {
	/* min-height: unset; */
	/* max-height: 50vw; */
	aspect-ratio: 4 / 3; 
	overflow: hidden;
}

/* .project-card, */
.project-card[class="a"],
.project-card[class="b"],
.project-card[class="e"],
.project-card[class="f"],
.project-card[class="g"],
.project-card[class="h"],
.project-card[class="i"],
.project-card[class="j"] {
	width: var(--max-width);
}
.project-card[class="c"],
.project-card[class="d"],
.project-card[class="k"] {
	width: calc(90% * (2 / var(--col_number)));
}


.project-card::before {
	position: absolute;
	z-index: 111;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0.15);
	/* top: 1rem;
	left: 1rem;
	width: 2rem;
	height: 2rem;
	color: white;
	counter-increment: grid;
	content: counter(grid, lower-alpha);
	filter: invert(1); */
	transition: var(--transition);
}
.project-card:hover::before {
	background: rgba(0,0,0,0.25);
}



.project-card img {
	min-width: 100%;
	/* min-height: 100%; */
	max-height: calc(var(--max-width)*4/3);
	object-fit: cover;
	object-position: center center;
	transform: scale(1.01);
	transition: var(--transition);
	line-height: 0;
	vertical-align: middle;
}
.project-card:hover img {
	transform: scale(1.05);
}

.project-card video {
	max-height: calc(var(--max-width)*4/3);
	width: 100%;
	height: 100%;
	object-fit: inherit;
	vertical-align: middle;
}

@media screen and (max-width: 1080px) {
	:root {
		--col_number: 3;
		/* --max-width: calc(90vw / var(--col_number)); */
	}

	.project-gallery {
		display: flex !important;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap:1rem;
	}
	.project-card {
		width: var(--max-width);
		max-width: var(--max-width);
		max-height: var(--max-width);
	}
	.project-card img {
		/* min-height: unset; */
		max-height: 50vw;
	}

}
@media screen and (max-width: 800px) {
	:root {
		--col_number: 2;
		/* --max-width: calc(90vw / var(--col_number)); */
	}
}


</style>