---
// layout
import BaseLayout from '../layouts/BaseLayout.astro';

// components
import { Image } from "astro:assets";


const uniqueID = "test";
const pageTitle = "test";
const metaTitle = "meta title tbc";
const metaDescription = "meta description tbc";
// a boutique agency that thrives at the intersection of design, data, and technology. Together, we’re focused on transforming brands and culture — across the world.
const pageContent = "";

---

<BaseLayout
	uniqueID={uniqueID} 
	pageTitle={pageTitle} 
	metaTitle={metaTitle} 
	metaDescription={metaDescription}
>

	<section class="social_section">

        <div class="social_cont">
            <h1>Social</h1>

            <div class="social-gallery">

                <!--  -->
                <a href="https://www.instagram.com/omg.creative.melbourne/p/CQwhISKjuIg/" class="social-card a">
                    <div class="social-card-wrap">
                        <!-- <Image src="/src/assets/omg_social/praemium_02_social.jpg"
                        alt="ShowCaseGallery"
                        width="300"
                        height="300"/> -->
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/praemium_02_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div>
                </a>
                <a href="https://www.instagram.com/omg.creative.melbourne/p/CF_UjNYD0fw/" class="social-card b ">
                    <div class="social-card-wrap">
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/praemium_surfing_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div>
                </a>
                <a href="https://www.instagram.com/omg.creative.melbourne/p/CKkO4lvDtU5/" class="social-card c">
                    <div class="social-card-wrap">                                    
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/arco_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div> 
                </a>
                <a href="https://www.instagram.com/omg.creative.melbourne/p/CKkPOYtj7aZ/" class="social-card d">
                    <div class="social-card-wrap">
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/arco_the_elm_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div>
                </a> 
                <a href="https://www.instagram.com/omg.creative.melbourne/p/BpQ98cAnJCD/" class="social-card e">
                    <div class="social-card-wrap">
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/mthc_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div>
                </a>
                
                <a href="https://www.instagram.com/omg.creative.melbourne/p/CGGh2LMMrCE/" class="social-card f">
                    <div class="social-card-wrap">
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/rathlin_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div>
                </a>
                <a href="https://www.instagram.com/omg.creative.melbourne/p/CQwgQeEj6LU/" class="social-card g">
                    <div class="social-card-wrap">
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/praemium_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div>
                </a>
                <a href="https://www.instagram.com/omg.creative.melbourne/p/CHmbrr2DItF/" class="social-card h">
                    <div class="social-card-wrap">
                        <img
                            src="https://omgcreative.com.au/wp-content/uploads/2025/02/uoc_research_social.jpg"
                            alt="ShowCaseGallery"
                        />
                    </div>
                </a>
            </div>
			
		</div>
		  
	</section>

</BaseLayout>

<style>
	
    :root {
        --col_number: 7;
        --gap_number: calc(var(--col_number) - 1);
        --col_width: calc(100% - (var(--gap_number)*1rem));
        --max-width: calc(var(--col_width) / var(--col_number));
    }
    .social_section {}

    .social_cont {
        margin:0;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    /* Parent container of .social-card */
    .social-gallery {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);

        grid-auto-flow: dense;
        column-gap: 1rem;
        gap: 1rem 1rem;
        /* margin: 1rem; */
        background: rgba(145,145,145,0.125);
        grid-template-areas:
        "a b e e f g g"
        "c d e e h g g";
        /*  */
        counter-reset: grid;
    }

    .a { grid-area: a; }
    .b { grid-area: b; }
    .c { grid-area: c; }
    .d { grid-area: d; }
    .e { grid-area: e; }
    .f { grid-area: f; }
    .g { grid-area: g; }
    .h { grid-area: h; }


    .social-card {
        position: relative;
        object-fit: cover;
        object-position: center center;
        aspect-ratio: 1 / 1;
    }
    .social-card {
        width: 100%; 
        height: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    } 
    /* .social-card, */
    .social-card[class="a"],
    .social-card[class="b"],
    .social-card[class="c"],
    .social-card[class="d"],
    .social-card[class="f"],
    .social-card[class="g"] {
        width: var(--max-width);
    }
    .social-card[class="e"],
    .social-card[class="h"] {
        width: calc(90% * (2 / 7));
    }


    .social-card::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0,0,0,0.15);
        /* counter-increment: grid;
        content: counter(grid, lower-alpha);
        filter: invert(1); */
        transition: var(--transition);
    }
    .social-card:hover::before {
        background: rgba(0,0,0,0.25);
    }
    .social-card::after {
        position: absolute;
        top: 1rem;
        right: 1rem;
        content: '';
        /* filter: invert(1); */
        /* background: rgba(0,0,0,0.5); */
        z-index: 111;
        width: 2rem;
        height: 2rem;
        backdrop-filter: blur(1rem);
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' fill='none'%3E%3Cpath fill='%23fff' d='M14.101 6.913c3.937 0 7.187 3.25 7.187 7.188 0 4-3.25 7.187-7.187 7.187-4 0-7.188-3.187-7.188-7.187 0-3.938 3.188-7.188 7.188-7.188Zm0 11.875c2.562 0 4.625-2.062 4.625-4.687a4.615 4.615 0 0 0-4.625-4.625c-2.625 0-4.688 2.062-4.688 4.625a4.681 4.681 0 0 0 4.688 4.687Zm9.125-12.125a1.68 1.68 0 0 1-1.688 1.688 1.68 1.68 0 0 1-1.687-1.688c0-.937.75-1.687 1.688-1.687.937 0 1.687.75 1.687 1.687Zm4.75 1.688c.125 2.312.125 9.25 0 11.562-.125 2.25-.625 4.188-2.25 5.875-1.625 1.625-3.625 2.125-5.875 2.25-2.313.125-9.25.125-11.563 0-2.25-.125-4.187-.625-5.875-2.25C.788 24.101.288 22.163.163 19.913c-.125-2.312-.125-9.25 0-11.562.125-2.25.625-4.25 2.25-5.875C4.101.85 6.038.35 8.288.226 10.601.1 17.538.1 19.851.226c2.25.125 4.25.625 5.875 2.25s2.125 3.625 2.25 5.875Zm-3 14c.75-1.813.563-6.188.563-8.25 0-2 .187-6.375-.563-8.25-.5-1.188-1.438-2.188-2.625-2.625-1.875-.75-6.25-.563-8.25-.563-2.063 0-6.438-.187-8.25.563A4.82 4.82 0 0 0 3.163 5.85c-.75 1.875-.562 6.25-.562 8.25 0 2.062-.188 6.437.562 8.25a4.739 4.739 0 0 0 2.688 2.687c1.812.75 6.188.563 8.25.563 2 0 6.375.187 8.25-.563 1.188-.5 2.188-1.437 2.625-2.687Z'/%3E%3C/svg%3E");
        transition: var(--transition);
        opacity: 0.5;

    }
    .social-card:hover::after {
        opacity: 1;
    }



    .social-card img {
        min-width: 100%;
        min-height: 100%;
        /*   width: (90vw/2 - 2rem); */
        /*   aspect-ratio: 1 / 1; */
        object-fit: cover;
        object-position: center center;
        transform: scale(1.01);
        transition: var(--transition);
    }
    .social-card:hover img {
        transform: scale(1.05);
    }

    @media screen and (max-width: 1080px) {
        :root {
            --col_number: 4;
            /* --max-width: calc(90vw / var(--col_number)); */
        }

        .social-gallery {
            display: flex !important;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            gap:1rem;
        }
        .social-card {
            width: var(--max-width);
            max-width: var(--max-width);
            max-height: var(--max-width);
        }
        .social-card img {
            /* min-height: unset; */
            max-height: 50vw;
        }

    }
    @media screen and (max-width: 800px) {
        :root {
            --col_number: 2;
            /* --max-width: calc(90vw / var(--col_number)); */
        }
    }

</style>