---

---

<section class="capabilities animate">
    <div class="row has-divider">
        <div class="column col_title">
            <div class="title">
                <h2>Capabilities</h2>
                <p>Our services are designed to help you achieve your goals. We work with you to create a strategy that will help you reach your target audience and grow your business.</p>
            </div>
        </div>

        <div class="column col_content top-space">
            <div class="flex-wrap">                
                <div class="internal">
                    <h6>Brand / Visual Identity</h6>
                    <div>
                        <p>Brand Strategy</p>
                        <p>Brand Architecture</p>                        
                        <p>Brand Identity</p>                        
                        <p>Naming</p>                        
                        <p>Positioning</p>                        
                        <p>Purpose</p>                        
                        <p>Graphic Design</p>
                    </div>
                </div>
                
                
                <div class="internal">
                    <h6>Print + Packaging</h6>
                    <div>
                        <p>Editorial &amp; Publication
                        <p>Stationery</p>                        
                        <p>Corporate Comms</p>                            
                        <p>Marketing Material</p>                            
                        <p>Campaign Design</p>
                    </div>
                </div>

                <div class="internal">
                    <h6>Campaign Branding</h6>
                    <div>
                        <p>Campaign Graphic Design</p>
                        <p>Campaign Landing Pages</p>                        
                        <p>Marketing Design</p>                        
                        <p>Video &amp; Animation</p>                        
                        <p>Print Design</p>                        
                        <p>Digital</p>
                    </div>
                </div>

                <div class="internal">
                    <h6>Digital Strategy</h6>
                    <div>
                        <p>UI/UX Design</p>
                        <p>Website Development</p>
                        <p>Social Media</p>
                        <p>Animation</p>
                        <p>Digital Advertising</p>
                        <p>eMarketing</p>
                        <p>Creative</p>
                    </div>
                </div>

                <div class="internal">
                    <h6>Creative Direction</h6>
                    <div>
                        <p>Art Direction</p>
                        <p>Campaigns</p>
                        <p>Advertising</p>
                        <p>Copywriting</p>
                        <p>Messaging</p>
                        <p>Photography</p>
                        <p>Illustration</p>
                        <p>Environments</p>
                    </div>
                </div>

                <div class="internal">
                    <h6>Physical</h6>
                    <div>
                        <p>Way finding Systems</p>
                        <p>Installations</p>
                        <p>Exhibitions</p>
                        <p>Retail</p>
                    </div>
                </div>

            </div>

            <h3>OTHER / REWRITE</h3>
        <div class="column col_content">
            <div class="flex-wrap">                
                <div class="internal">
                    <h6>CX, Commerce, &amp; Product Design</h6>
                    <div>
                        <p>Market Analysis &amp; Business Case Development</p>
                        <p>Customer Research, Segmentation &amp; Insights</p>
                        <p>Journey Mapping &amp; Testing</p>
                        <p>Innovation Sprints &amp; Prototyping</p>
                        <p>Experience Strategy &amp; Design</p>
                        <p>Content Strategy &amp; IA</p>
                        <p>Design Systems &amp; Guidelines</p>
                        <p>Website &amp; App Design</p>
                        <p>UI Design</p>
                        <p>Interaction Design</p>
                        <p>Full-Stack Development &amp; CMS Implementation</p>
                        <p>Technical Consultation and Architecture</p>
                    </div>
                </div>
                <div class="internal">
                    <h6>Digital-First Branding</h6>
                    <div>
                        <p>Brand Ecosystem  &amp; Roadmap</p>
                        <p>Business Intelligence</p>
                        <p>Brand Positioning  &amp; Architecture</p>
                        <p>Brand Messaging</p>
                        <p>Visual Identity</p>
                        <p>Brand Guidelines  &amp; Playbooks</p>
                        <p>Visual Design</p>
                        <p>Graphic Design</p>
                        <p>Art Direction</p>
                        <p>Asset Production (Video, 3D, Photography, Motion Design)</p>
                        <p>Brand Naming</p>
                        <p>Go-To-Market Strategy</p>
                        <p>Campaign Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .capabilities h2 {
        max-width: 10ch;
    }

    .capabilities h4 {
        /* font-size: 1.5rem; */
        margin-bottom: 1rem;
    }
    .capabilities h6 {
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .capabilities p {
        /* font-size: 1rem; */
        line-height: 1.5;
        max-width: 30ch;
    }
    .capabilities .col_content p {
        margin-bottom: 0;
    }

/* end */
</style>
