---

---

<section class="capabilities">
    <div class="row">
        <div class="column col_title">
            <div class="title">
                <h2>Capabilities</h2>
                <p>Our services are designed to help you achieve your goals. We work with you to create a strategy that will help you reach your target audience and grow your business.</p>
            </div>
        </div>
        <div class="column col_content">
            <div class="flex-wrap">                
                <div class="internal">
                    <h6>CX, Commerce, &amp; Product Design</h6>
                    <div>
                        <p>Market Analysis &amp; Business Case Development</p>
                        <p>Customer Research, Segmentation &amp; Insights</p>
                        <p>Journey Mapping &amp; Testing</p>
                        <p>Innovation Sprints &amp; Prototyping</p>
                        <p>Experience Strategy &amp; Design</p>
                        <p>Content Strategy &amp; IA</p>
                        <p>Design Systems &amp; Guidelines</p>
                        <p>Website &amp; App Design</p>
                        <p>UI Design</p>
                        <p>Interaction Design</p>
                        <p>Full-Stack Development &amp; CMS Implementation</p>
                        <p>Technical Consultation and Architecture</p>
                    </div>
                </div>
                <div class="internal">
                    <h6>Digital-First Branding</h6>
                    <div>
                        <p>Brand Ecosystem  &amp; Roadmap</p>
                        <p>Business Intelligence</p>
                        <p>Brand Positioning  &amp; Architecture</p>
                        <p>Brand Messaging</p>
                        <p>Visual Identity</p>
                        <p>Brand Guidelines  &amp; Playbooks</p>
                        <p>Visual Design</p>
                        <p>Graphic Design</p>
                        <p>Art Direction</p>
                        <p>Asset Production (Video, 3D, Photography, Motion Design)</p>
                        <p>Brand Naming</p>
                        <p>Go-To-Market Strategy</p>
                        <p>Campaign Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .capabilities h2 {
        max-width: 10ch;
    }

    .capabilities h4 {
        /* font-size: 1.5rem; */
        margin-bottom: 1rem;
    }
    .capabilities h6 {
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .capabilities p {
        /* font-size: 1rem; */
        line-height: 1.5;
        max-width: 30ch;
    }