---
import Grid from '../components/Grid.astro';
import ClientListing from '../components/ClientListing.astro';

---


<section class="clients animate">
    <div class="row has-divider">
        
        <div class="column col_title">
            <h2>Partners & Clients</h2>
            <p>We are not confined to a particular sector or restricted by the size or scope of our clients. We enjoy working across industries, whether it is education, entertainment, luxury, Government or e-commerce.</p>
        </div>
    
        <div class="column col_content top-space">
            <div class="flex-wrap">
                <div class="gallery">
                    <Grid variant="small">
                        <ClientListing></ClientListing>
                    </Grid>
                </div>
            </div>
        </div>

    </div>
</section>