---

---

<section class="services animate">
    <div class="row has-divider">
        <div class="column col_title">
            <div class="title">
                <h2>Agency Snapshot</h2>
                <p>Strategy. Brand Experience. Digital Experience. Content. Technology. We build brands and deliver products that perform.</p>
                <p class="light">**** <br>From strategic branding and creative campaigns to web design and compelling graphic design, our team ensures your message is seen and your impact is maximised.</p>
            </div>
        </div>
        <div class="column col_content top-space">
            <div class="flex-wrap">                
                <div class="card fade-up">
                    <h4>Brand strategy</h4>
                    <p class="small">Brand strategy represents the core of your brand. We craft bold brand strategies that captivate, differentiate, and drive loyalty. Through market insights, storytelling, and design, we create brands that connect and inspire. </p>
                </div>
                <div class="card fade-up delay-400">
                    <h4>Brand Identity</h4>
                    <p class="small">We shape brand identities that captivate and connect. We craft cohesive visual and verbal identities that tell your story with impact. We build brands that stand out, resonate, and leave a lasting impression - much more than just a logo and a font.</p>
                </div>
                <div class="card fade-up">
                    <h4>Consultancy</h4>
                    <p class="small">We offer expert brand and design consultancy that transforms businesses into powerful, memorable brands. From strategy to visual identity, we craft compelling narratives and innovative designs that resonate with your audience. We help you elevate your brand with clarity, creativity, and impact.</p>
                </div>

                <div class="card fade-up delay-400">
                    <h4>Design</h4>
                    <p class="small">Design is more than aesthetics—it’s about creating meaningful experiences. We craft visually stunning, strategic designs that captivate, communicate, and inspire action. From branding to digital and print, we turn ideas into impactful visuals that elevate your brand and engage your audience. Let’s design brilliance together. </p>
                </div>
                
                <div class="card fade-up ">
                    <h4>Development</h4>
                    <p class="small">We help you bring your ideas to life through immersive experiences and beautifully-designed interfaces. We empower your business with the latest technologies and tools to help you grow and succeed.</p>
                    <p class="small">Multi-disciplinary development team of designers, engineers, project managers, and strategists. We work with you to create a strategy that will help you reach your target audience and grow your business.</p>
                </div>

                
                <div class="card fade-up delay-400">
                    <h4>Production</h4>
                    <p class="small">From creative to production, post-production, and distribution, our team of experienced writers, directors, and producers work to ensure the best projects are executed and delivered. We collaborate with you to create (personalized) video messages for all sorts of platforms, including websites, social media, and YouTube.</p>
                </div>

                <div class="card fade-up ">
                    <h4>Motion Design</h4>
                    <p class="small">Using motion to enhance your brands and digital experiences and ensure you stand out in the crowded digital world of today.</p>
                </div>
                
                <div class="card fade-up delay-400">
                    <h4>Content</h4>
                    <p class="small">We turn your low-fi designs into hi-fi prototypes that feel like the real thing, perfect for grasping demand.</p>
                </div>
                <div class="card fade-up ">
                    <h4>Marketing</h4>
                    <p class="small">We help you bring your ideas to life through immersive experiences and beautifully-designed interfaces.</p>
                </div>
                <div class="card fade-up delay-400">
                    <h4>AV</h4>
                    <p class="small">Storytelling through motion, sound, and film. Motion, sound design, editing, and 3D intrigue, inform, and entertain.</p>
                </div>
                
            </div>
        </div>
    </div>
</section>

<style>
    .services {
        
    }

    .services h2 {
        max-width: 10ch;
    }

    .services .card {
        /* background-color: var(--white);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
        transition: var(--transition-fast); */
        flex-direction: column;
        align-items: flex-start;
        /* width: calc(30vw - var(--col-gap) - (var(--bodypadding)*2)); */
        width: calc(50% - var(--col-gap));
    }

    .services .card:hover {
        /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.5rem); */
    }

    .services h4 {
        /* font-size: 1.5rem; */
        margin-bottom: 1rem;
    }

    .services h6 {
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
    }

    .services p {
        /* font-size: 1rem; */
        line-height: 1.5;
        max-width: 40ch;
    }