---
// 
---


<h5>Touch base</h5>

<form method="POST"
    action="https://api.web3forms.com/submit"
    method="POST"
    id="form"
    class="needs-validation"
    data-astro-reload
    novalidate
>

<!-- Add your Web3Forms Access Key -->
<input 
    type="hidden" 
    name="access_key" 
    value="6e231928-00ff-4e44-bbb2-e581183247c2" 
/>

<label>
    Name:
    <input type="text" name="username" />
</label>
  {errors.username && <p>{errors.username}</p>}

<label>
    Email:
    <input type="email" name="email" required />
</label>
  {errors.email && <p>{errors.email}</p>}

<label >
    Message:
    <textarea 
      name="message"
      required
      placeholder="Your Message"
      class=""
    ></textarea>

    <!-- <div class="empty-feedback invalid-feedback">
      Please enter your message.
    </div> -->
  </label>
  {errors.message && <p>{errors.message}</p>}

  
  <button class="btn">Send Message</button>

</form>


<style>
    @import url(../styles/forms.css);
    @import url(../styles/buttons.css);
</style>